@import"./res";


//max 1500 변동 x
@include res('pc-s'){}

//max 1279
@include res('tab'){
.sub{
      .align-box{
        li{width: 45%;
          & a{
            .img_box{
              .end_event_text{
                font-size: 32px;
              }
            }
          }
        }
      }
      }
    }

    @media (max-width : 839px) {
      .sub{
        ul{
          li{
            a{
              .img_box{
                .end_event_text{
                  font-size: 20px;
                }
              }
            }
          }
        }    
      }
    }
//max 767
@include res('mo-l'){
  .sub{
    ul{
      li{
        a{
          .img_box{
            .end_event_text{
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
@media (max-width : 567px){
  .sub{
    ul{
      li{
        a{
          .img_box{
            .end_event_text{
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
//max 480
@include res('mo-s'){
  .sub{
    ul{
      li{
        a{
          .img_box{
            .end_event_text{
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

