// _res-login.scss
/* 분기점 
1280~1500: pc   pc-s
768~1279: 태블릿     tab  노랑   rgb(234, 248, 111)
481~767: 모바일라지  mo-l  초록   rgb(123, 248, 111)
~480: 모바일         mo-s  파랑   rgb(111, 209, 248)
*/
/* 변동사항(확인 후 삭제하셔도 됩니다!)--------------------------------------
모든 로그인 페이지는 기본 디자인을 모바일 기준으로 잡았기 때문에 변동사항이 매우 적습니다.
mo-l(초록)와 mo-s(파랑)만 약간의 변동사항이 있으며 세부사항은 아래와 같습니다.
mo-l(초록):
    - .login_common : 
        ㄴ  기본 좌우 패딩 16px
        ㄴ .logo_txt : 컨텐츠와의 간격 줄임 56->40px
        ㄴ 인풋박스 width 400->360px
        ㄴ 버튼 width 400->360px 
    - .login : 
        ㄴ 그림자 박스 제거
        ㄴ 버튼 width 400->360px 
        ㄴ 로그인-회원가입버튼 간격 60->40px
    - .join : 
        ㄴ 그림자 박스 제거
        ㄴ 버튼 width 480->400px 
        ㄴ 전체동의 배경색 제거, border로 변경
        ㄴ margin-bottom 480->320px
    - .join_complete
        ㄴ.greeting p (환영합~) : 폰트 사이즈 축소(24px → 20($mobile_font_title)
mo-s(파랑):  mo-l와 동일   
*/
/*↑↑↑↑↑↑↑↑↑상단 나중에 작업 완료 후 삭제↑↑↑↑↑↑↑↑↑↑↑*/

@import "./_res";
//@mixin모음(4개)================================================
$input-width: 400px;
$input-mo-width: 360px;
$box-width: 480px;
// (1)로그인 관련 키보드 입력 들어가는 모든 인풋박스
@mixin inputbox($w:$input-width, $icn){   
    width: $w;
    padding-left: 20px;
    position: relative;
    border: 1px solid #afafaf;
    border-radius: 8px;
    overflow: hidden;
    // label: 인풋박스 내부 : 좌측 아이콘
    label{
        width: 20px;
        height: 20px;
        margin-right: 8px;
        display: inline-block;
        background-image: $icn;
        background-repeat: no-repeat;
        vertical-align: middle;
    }
    input{
        width: calc(100% - 40px);
        padding: 16px 0;
        color: #afafaf;    
        vertical-align: middle; 
        &:focus{
            width: calc(100% - 80px);
        }
    }
    // 인풋박스 내부 : 우측 [x, 눈] 아이콘
    .input_reset_btn{
        width: 16px;
        height: 16px;
        opacity: 1;
        visibility: hidden;
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translate(-50%, -50%);
        background-image: url(../img/icon/icon_x_circle.svg);
    }
    .eye{
        width: 20px;
        height: 20px;
        right: 32px;
        background-image: url(../img/icon/icon_eye.svg);
    }
    input:focus ~ .input_reset_btn{
        opacity: 1;
        visibility: visible;
    }
    @content
}
// (2)컨텐츠 묶는 그림자 박스
@mixin box_shadow($w:$box-width){
    max-width: $w;
    padding: 72px 40px 48px;
    margin: 0 auto;
    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    @content
}
// (3)기본 파란 버튼
@mixin btn($w:$input-width){
    width: $w;
    padding: 16px 16px;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    background-color: #357EF1;
    border-radius: 8px;
    color: #ffffff;
    @content
}
// (4)테두리 있는 색반전 버튼
@mixin btn_reverse($w:$input-width){
    width: $w;
    padding: 16px 32px;
    text-align: center;
    font-weight: 700;
    background-color: #ffffff;
    border: 1px solid #357EF1;
    border-radius: 8px;
    color: #357EF1;
    @content
}
//===========================================================
$mobile_padding_16: 16px;
$mobile_padding_24: 24px;
$mobile_padding_48: 48px;
$mobile_font: 16px;
$mobile_font_title: 20px;

@include res('pc-s'){}; //변동사항 없음
@include res('tab'){    //변동사항 없음
    body{
        background-color: rgb(234, 248, 111);
        // 배경색 나중에 완전히 끝나면 삭제하기
    }
};  
@include res('mo-l'){
    body{
        background-color: rgb(123, 248, 111);
        // 배경색 나중에 완전히 끝나면 삭제하기

        // 로그인+회원가입 공통
        .login_common{
            padding: 0 $mobile_padding_16;
            padding-top: 160px;
            .logo_txt{
                margin-bottom: 48px;
                .logo{ 
                }
                .txt{ 
                }
            }
        //인풋박스들
            .email_box{@include inputbox($w:$input-mo-width, $icn: url(../img/icon/icon_mail_grey.svg));}
            .pw_box{@include inputbox($w:$input-mo-width, $icn: url(../img/icon/icon_lock.svg));}
            .pw_check_box{@include inputbox($w:$input-mo-width, $icn: url(../img/icon/icon_lock.svg));}
            .name_box{@include inputbox($w:$input-mo-width, $icn: url(../img/icon/icon_person.svg));}
            .phone_box{@include inputbox($w:$input-mo-width, $icn: url(../img/icon/icon_phone.svg))}
            .verify_box{@include inputbox($w:$input-mo-width, $icn: url(../img/icon/icon_phone.svg))}
            //기본 파란 버튼
            .blue_btn{
                @include btn($w:$input-mo-width);
            }
        }
        // 로그인
        .login{
            .login_wrap{
                @include box_shadow(){  
                    padding: 48px 40px; 
                    box-shadow: 0 0 0 0;
                };
                .login_daon{
                    .login_login_daon{
                        margin-bottom: 40px;
                    }
                    .login_join_daon{
                        .white_btn{
                            @include btn_reverse($w:$input-mo-width);
                        }
                    }
                }
            }
        }
        // 회원가입
        .join{
            margin-bottom: 320px;
            .join_wrap{
                width: $input-width;
                .join_personal_info{
                    @include box_shadow{   
                        padding: 0;
                        box-shadow: 0 0 0 0;
                    };
                    
                    margin-bottom: $mobile_padding_48;
                }
                .join_agree{
                    .agree_checkbox{
                        @include box_shadow{
                            padding: 0;
                            box-shadow: 0 0 0 0;
                            border-radius: 0;
                        };
                        .agree_all{
                            background-color: transparent;
                            border-top: 1px solid #efefef;
                            border-bottom: 1px dotted #efefef;
                        }
                    }
                    .join_optional_info{
                        margin-top: 0;
                    }
                }    
                .join_join_btn{
                }          
            }
        }
        // 회원가입 완료
        .join_complete{
            .join_complete_wrap{
                .greeting{
                    margin-bottom: 80px;
                    p{
                        font-size: $mobile_font_title;
                    }
                }
            }
        }
    }
};
@include res('mo-s'){   //mo-l, mo-s동일
    body{
        background-color: rgb(111, 209, 248);
        // 배경색 나중에 완전히 끝나면 삭제하기
    }
};







/*↓↓↓↓↓↓↓↓하단 나중에 작업 완료 후 삭제↓↓↓↓↓↓↓↓↓↓↓↓↓*/
/*로그인+회원가입 공통 태그전부(내용x)------------
.login_common{
            .logo_txt{
                .logo{      //h1태그
                }
                .txt{       //h2태그
                }
            }
        }
*/
/*login 태그전부(내용x)------------
.login{
    .login_wrap{          
        .login_daon{
            .login_login_daon{
                .login_input_box{
                    .email_box{
                    }
                }
            }
            .login_join_daon{
                .white_btn{}
            }
        }
        .login_sns{
        .login_login_sns{
            li{
                button{}
                .kakao{}
                .naver{}
                .google{}
            }
        }
        }
    }
}
*/
/*join 태그전부(내용x)------------
.join{
    .join_wrap{
        .join_personal_info{
            .join_input_box{
                li{}
                .verify_box
                {}
            }
            .phone_verify_btn{                
                .phone_box{}
                .join_btn{
                    .blue_btn{}
                }
            } 
        }
        .join_agree{
            .agree_checkbox{
                input{}
                .agree_all{                
                    .arrow_btn{
                        svg{                            
                            path{}
                        }   
                    }
                }
                .agree_list{
                    li{                   
                        .view_all{}
                    }
                    .agree_essential{
                        label{
                            &::after{}
                        }
                    }
                    .agree_optional{
                        label{                           
                            &::after{}
                        }
                    }      
                }
            }
            .join_optional_info{

            }
        }
        .join_join_btn{            
            button{}
        }
    }
}
*/
/*join_complete 태그전부(내용x)------------
.join_complete{
            .logo_txt{
                .txt{
                    &::before{}
                }
            }
            .join_complete_wrap{
                .greeting{
                    p{
                        font-size: $mobile_font_title;
                    }
                }
                .join_complete_btn{
                    button{}
                }
            }
        }
*/