@include res('pc-s'){
    .header {
      background-color: orange;
    }
}

@include res('tab'){
  .header {
    background-color: brown;
  }
}

@include res('mo-l'){
  .header {
    background-color: green;
  }
}

@include res('mo-s'){
  .header {
    background-color: skyblue;
  }
}