// pc 1500px
@import "_res";

@include res("pc-s") {
  .pool {
    .sub_container {
      .contents {
        .sub3_pool_contents {
          padding: 20px 40px;
          // margin: 64px 0;
          .pool-img {
            width: 60%;
          }
          .pool-title {
            width: 36%;
          }
        }
      }
    }
  }
}

// with 1279
@include res("tab") {
  .pool {
    .sub_top {
      background-image: url("../img/img_facilities_pool_0.jpg");
    }
    .sub_container {
      .contents {
        .sub3_pool_contents {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: auto;
          padding: 20px;
          // margin: 64px 0;
          .pool-img {
            width: 50%;
            height: 100%;
            // height: 100%;
            overflow: hidden;
          }
          .pool-title {
            width: 40%;
            height: 100%;
            margin-top: auto;
          }
        }
      }
    }
  }
}

// with 767

@include res("mo-l") {
}

// with 480

@include res("mo-s") {
}
