/* [↓] 하단 나중에 작업 완료 후 삭제 [↓] */
/* 분기점 
1280~1500: pc   pc-s
768~1279: 태블릿     tab
481~767: 모바일라지  mo-l
~480: 모바일         mo-s 
*/
/* 변동사항(확인 후 삭제하셔도 됩니다!)--------------------------------------
  모든 로그인 관련 페이지는 모바일 기준으로 기본 디자인을 잡았기 때문에 디자인적 변동사항이 적습니다.
  세부사항은 아래와 같습니다.
pc-s: 없음
tab: 
- .login_common
        ㄴ .logo_wrap : 로고-텍스트묶음의 하단 간격 조정 56->48px
mo-l:
    - .login_common : 
        ㄴ 기본 좌우 패딩 16px
        ㄴ .logo_wrap 로고-텍스트 간 간격 줄임(40->36px)
        ㄴ .logo_wrap 로고-텍스트의 텍스트 폰트사이즈 줄임(32->24px)
        ㄴ 인풋박스 width 크게(400->480px)
        ㄴ 버튼 width 크게(400->480px)
    - .login : 
        ㄴ 그림자 박스 제거
        ㄴ 인풋박스 width 크게 (400->480px)
        ㄴ 버튼 width 크게(400 -> 480px)
        ㄴ 로그인-회원가입버튼 간격(60->40px)
    - .join : 
        ㄴ 그림자 박스 제거
        ㄴ 인풋박스 width 크게
        ㄴ 버튼 width(480->400px)
        ㄴ 인풋박스-체크박스 간 간격 조정 (16->48px)
        ㄴ 전체 동의 배경색 제거, border를 추가해 영역 구분
        ㄴ .join_optional_info(*선택항목은 동의없이~) 상단 마진 삭제
    - .join_complete
        ㄴ 로고-체크-텍스트와 컨텐츠 간 간격 조정(48->24px)
        ㄴ mo-l .login_common의 3번째 항목: .logo_wrap 간격 늘림(36->48px)
        ㄴ 체크 아이콘 사이즈 작게(80x80 -> 60x60)
        ㄴ.greeting p (환영합~) : 폰트 사이즈 축소 (24->20px)
        ㄴ.greeting p (환영합~)와 버튼 간격 축소 (100->80px)
        ㄴ 버튼 max-width 줄임(240->200px)
mo-s: 
    - .login_common : 
        ㄴ 텍스트 폰트사이즈 줄임(24->20px)
    - .login : 
        ㄴ 없음
    - .join_complete 
        ㄴ.greeting p (환영합~)와 버튼 간격 축소 (80->40px)
        ㄴ .greeting p (환영합~) : 폰트 사이즈 축소 (20->16px)
        ㄴ 버튼 width 고정(깨짐 방지)(160px)
* 360px일 때 회원가입 페이지-인증번호 버튼이 2줄로 깨지는 현상 때문에 미디어쿼리 추가했습니다.
*/
/* [↑] 상단 나중에 작업 완료 후 삭제 [↑] */
@import "./_res";
//=====@mixin모음(4개)================================================
$input-width: 400px;
$mo-width: 360px;
$box-width: 480px;
// (1)로그인 관련 키보드 입력 들어가는 모든 인풋박스
@mixin inputbox(){   
    width: 100%;
    max-width: $box-width;
    position: relative;
    // overflow: hidden;
    // label: 인풋박스 내부 : 좌측 아이콘
    label{
        width: 20px;
        height: 20px;
        margin-right: 8px;
        display: inline-block;
        background-repeat: no-repeat;
        vertical-align: middle;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    input{
        width: 100%;
        padding: 16px 48px;
        border: 1px solid #afafaf;
        border-radius: 8px;
        vertical-align: middle; 
        // &:focus{
        //     width: calc(100% - 80px);
        // }
    }
    // 인풋박스 내부 : 우측 [x, 눈] 아이콘
    .input_reset_btn{
        width: 16px;
        height: 16px;
        visibility: hidden;
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translate(-50%, -50%);
        background-image: url(../img/icon/icon_x_circle.svg);
    }
    .eye{
        width: 20px;
        height: 20px;
        right: 32px;
        background-image: url(../img/icon/icon_eye.svg);
    }
    input:focus ~ .input_reset_btn{
        visibility: visible;
    }
    @content
}

// (2)그림자 박스
@mixin box_shadow(){
    width: 100%;
    max-width: $box-width;
    padding: 0;
    margin: 0 auto;
    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    @content
}
// (3)기본 파란 버튼
@mixin btn($w:$box-width){
    width: 100%;
    max-width: $box-width;
    padding: 16px 16px;
    text-align: center;
    font-weight: 700;
    background-color: #357EF1;
    border-radius: 8px;
    color: #ffffff;
    @content
}
// (4)테두리 있는 색반전 버튼
@mixin btn_reverse($w:$box-width){
    width: 100%;
    max-width: $box-width;
    padding: 16px 16px;
    text-align: center;
    font-weight: 700;
    background-color: #ffffff;
    border: 1px solid #357EF1;
    border-radius: 8px;
    color: #357EF1;
    @content
}
// ============================================================
@include res('pc-s'){};
@include res('tab'){
    body{
        // 로그인+회원가입 공통
        .login_common{
            .logo_wrap{
                margin-bottom: 48px;
            }
        }
    }
};  
@include res('mo-l'){
    body{
        // 로그인+회원가입 공통
        .login_common{
            padding: 100px 16px 0;  //16은 common에 들어가면 빼기
            .logo_wrap{
                .txt{
                    margin-top: 36px;
                    font-size: 24px;
                }
            }
        }
        // 로그인
        .login{
            .login_wrap{
                @include box_shadow(){
                    box-shadow: none;
                };
                .login_daon{
                    .login_login_daon{
                        margin-bottom: 40px;
                    }
                }
            }
        }
        // 회원가입
        .join{
            .join_wrap{
                .join_personal_info{
                    @include box_shadow{   
                        padding: 0;
                        box-shadow: none;
                    };
                    margin-bottom: 48px;
                }
                .join_agree{
                    .agree_checkbox{
                        @include box_shadow{
                            padding: 0;
                            box-shadow: none;
                            border-radius: 0;
                        };
                        .agree_all{
                            background-color: transparent;
                            border-top: 1px solid #efefef;
                            border-bottom: 1px dotted #efefef;
                        }
                    }
                    .join_optional_info{
                        margin-top: 0;
                    }
                }          
            }
        }
        // 회원가입 완료
        .join_complete{
            .logo_wrap{
                margin-bottom: 24px;    //절반
                .txt{
                    margin-top: 48px;   //줄
                    &::before{
                        width: 60px;    //줄
                        height: 60px;   //줄
                        background-image: url(../img/icon/icon_check_big_mobile.svg);   //체크아이콘 작은사이즈로 변경
                    }
                }
            }
            .join_complete_wrap{
                .greeting{
                    margin-bottom: 80px;
                    p{
                        font-size: 20px;
                    }
                }
                .join_complete_btn{
                    a{
                        button{
                            max-width: 200px;
                        }
                    }
                }
            }
        }
    }
};
@include res('mo-s'){
    body{
        // 로그인+회원가입 공통
        .login_common{
            .logo_wrap{
                .txt{
                    font-size: 20px;
                }
            }
        }
        // 로그인
        // 회원가입
        // 회원가입 완료
        .join_complete{
            .join_complete_wrap{
                .greeting{
                    margin-bottom: 40px;    //mo-l절반
                    p{
                        font-size: 16px;
                    }
                }
                .join_complete_btn{
                    a{
                        button{
                            width: 160px;
                        }
                    }
                }
            }
        }
    }
};