.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}
.header .nav_bg {
  width: 100%;
  height: 352px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: -192px;
  opacity: 0;
  transition: all 0.3s;
  z-index: -1;
}
.header .inner {
  max-width: 1400px;
  height: 160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .inner .nav .sub {
  display: flex;
}
.header .inner .nav .sub li {
  color: #fff;
  position: relative;
}
.header .inner .nav .sub li .depth_1 {
  padding: 68px 30px;
  width: 100%;
  height: 100%;
  display: block;
  color: inherit;
}
.header .inner .nav .sub li .depth_2 {
  display: none;
  position: absolute;
  left: 50%;
  top: 132px;
  transform: translateX(-50%);
}
.header .inner .nav .sub li .depth_2 a {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  display: block;
  white-space: nowrap;
  text-align: center;
}
.header .inner .nav .sub li .depth_2 a:hover {
  font-weight: 600;
}
.header .inner .nav_menu {
  display: flex;
}
.header .inner .nav_menu li {
  color: #fff;
}
.header .inner .nav_menu li:last-child {
  margin-left: 24px;
}
.header .inner .nav_menu li a {
  color: inherit;
}
.header.on .nav_bg {
  top: 0;
  opacity: 1;
}
.header.on .inner .nav .sub li {
  color: #2f2f2f;
}
.header.on .inner .nav .sub li .depth_1.on {
  text-decoration: underline;
}
.header.on .inner .nav .sub li .depth_2 {
  display: block;
}
.header.on .inner .nav_menu li {
  color: #2f2f2f;
}

.logo {
  height: 46px;
}
.logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.dim {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.fixed_menu {
  position: fixed;
  right: 40px;
  bottom: 60px;
  z-index: 99;
}
.fixed_menu ul li {
  width: 64px;
  height: 64px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.fixed_menu ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  font-size: 0;
  text-align: center;
}
.fixed_menu ul li a img {
  width: 20px;
  height: 20px;
}
.fixed_menu ul li a span {
  font-weight: 700;
}
.fixed_menu ul li.weather_btn span {
  font-size: 12px;
}
.fixed_menu ul li.chat_btn {
  margin-top: 12px;
}
.fixed_menu ul li.chat_btn a {
  background-color: #357EF1;
}
.fixed_menu ul li.chat_btn a img {
  width: 32px;
  height: 32px;
}
.fixed_menu ul li.top_btn {
  margin-top: 40px;
}
.fixed_menu ul li.top_btn a span {
  font-size: 14px;
}

.tab_box {
  padding: 8px;
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  background-color: #efefef;
}
.tab_box li {
  padding: 8px 16px;
  font-size: 20px;
  line-height: 32px;
  color: #afafaf;
  border-radius: 8px;
  cursor: pointer;
}
.tab_box li.on {
  color: #2f2f2f;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
}

.main + .footer {
  height: fit-content;
}
.main + .footer .dim {
  background-color: rgba(0, 0, 0, 0.5);
}
.main + .footer .video_wrap {
  padding-top: calc(53% - 6px);
}
.main + .footer .box_wrap {
  padding: 200px 13.5% 338px;
}

.footer {
  height: 583px;
  background-color: #2f2f2f;
  overflow: hidden;
  position: relative;
}
.footer .box_wrap {
  width: 100%;
  padding: 120px 13.5% 140px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 11;
}
.footer .box_wrap a, .footer .box_wrap p, .footer .box_wrap span {
  font-size: 20px;
  color: #fff;
}
.footer .box_wrap .top {
  display: flex;
  align-items: flex-end;
}
.footer .box_wrap .top ul {
  margin-left: 120px;
  display: flex;
}
.footer .box_wrap .top ul li:not(:first-of-type)::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  margin: 0 24px;
  background-color: #fff;
}
.footer .box_wrap .top ul li a {
  font-weight: 700;
}
.footer .box_wrap .bottom {
  margin-top: 100px;
  position: relative;
}
.footer .box_wrap .bottom .info ul {
  margin-bottom: 64px;
}
.footer .box_wrap .bottom .info ul li {
  display: flex;
  align-items: center;
}
.footer .box_wrap .bottom .info ul li:not(:first-of-type) {
  margin-top: 16px;
}
.footer .box_wrap .bottom .info ul li p {
  margin-right: 64px;
}
.footer .box_wrap .bottom .info ul li p span {
  margin-right: 20px;
  font-weight: 700;
}
.footer .box_wrap .bottom .sns_btn {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.footer .box_wrap .bottom .sns_btn li {
  text-indent: -9999px;
}
.footer .box_wrap .bottom .sns_btn li:not(:first-of-type) {
  margin-left: 12px;
}
.footer .box_wrap .bottom .sns_btn li:last-of-type a {
  background-image: url("/img/icon/icon_sns_facebook.svg");
}
.footer .box_wrap .bottom .sns_btn li a {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 8px;
  background: #fff url("/img/icon/icon_sns_instagram.svg") no-repeat center;
}

.login_common + .footer {
  width: 100%;
  height: 80px;
  padding: 24px 0;
  background-color: #fff;
  border-top: 1px solid #efefef;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  font-size: 14px;
  color: #afafaf;
  line-height: 32px;
}

.sub .sub_top {
  width: 100%;
  height: 500px;
  background: url("../img/img_sub_reservation.jpg") no-repeat center/cover;
  position: relative;
}
.sub .breadcrumb {
  width: 1400px;
  height: 64px;
  padding: 16px 32px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: -32px;
  transform: translateX(-50%);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.05);
  z-index: 11;
}
.sub .breadcrumb ul {
  display: flex;
  align-items: center;
}
.sub .breadcrumb ul li {
  display: flex;
  align-items: center;
}
.sub .breadcrumb ul li:first-of-type::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 4px;
  background: url("../img/icon/icon_home.svg") no-repeat center;
}
.sub .breadcrumb ul li:not(:first-of-type) {
  color: #afafaf;
}
.sub .breadcrumb ul li:not(:first-of-type)::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 16px;
  background: url("../img/icon/icon_arrow.svg") no-repeat center/15px;
}
.sub .breadcrumb ul li a {
  font-size: 14px;
}
.sub .sub_container {
  width: 1400px;
  padding: 140px 0 240px;
  margin: 0 auto;
}
.sub .sub_container .title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 80px;
}
.sub .sub_container .title .desc {
  display: block;
  margin-top: 16px;
  font-size: 24px;
}