// template
.template {
    > div {
        max-width: 1400px;
        margin: 0 auto 120px;
        h2 {
            text-align: left;
            font-size: 40px;
            margin: 40px;
        }
    }
}
// header
.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;

  .nav_bg {
    width: 100%;
    height: 352px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: -192px;
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
  }

  .inner {
    max-width: 1400px;
    height: 160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // nav
    .nav {
      .sub {
        display: flex;

        li {
          color: #fff;
          position: relative;

          .depth_1 {
            padding: 68px 30px;
            width: 100%;
            height: 100%;
            display: block;
            color: inherit;
          }

          .depth_2 {
            display: none;
            position: absolute;
            left: 50%;
            top: 132px;
            transform: translateX(-50%);

            a {
              width: 100%;
              height: 100%;
              padding: 10px 0;
              display: block;
              white-space: nowrap;
              text-align: center;

              &:hover {
                font-weight: 600;
              }
            }
          }
        }
      }
    }

    // nav_menu
    .nav_menu {
      display: flex;

      li {
        color: #fff;

        &:last-child {
          margin-left: 24px;
        }

        a {
          color: inherit;
        }
      }
    }
  }

  &.on {
    .nav_bg {
      top: 0;
      opacity: 1;
    }

    .inner {
      .nav {
        .sub {
          li {
            color: #2f2f2f;

            .depth_1 {
              &.on {
                text-decoration: underline;
              }
            }

            .depth_2 {
              display: block;

              a {
              }
            }
          }
        }
      }

      .nav_menu {
        li {
          color: #2f2f2f;
        }
      }
    }
  }
}

.logo {
  width: fit-content;
  height: 46px;
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.dim {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

// fixed_menu
.fixed_menu {
  position: fixed;
  right: 40px;
  bottom: 60px;
  z-index: 99;

  ul {
    li {
      width: 64px;
      height: 64px;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.05);
      border-radius: 20px;

      a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 20px;
        font-size: 0;
        text-align: center;

        img {
          width: 20px;
          height: 20px;
        }

        span {
          font-weight: 700;
        }
      }

      &.weather_btn {
        span {
          font-size: 12px;
        }
      }

      &.chat_btn {
        margin-top: 12px;

        a {
          background-color: #357ef1;

          img {
            width: 32px;
            height: 32px;
          }
        }
      }

      &.top_btn {
        margin-top: 40px;

        a {
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}

// tab - box
.tab {
  &.box {
    padding: 8px;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    background-color: #efefef;

    li {
      padding: 8px 16px;
      font-size: 20px;
      line-height: 32px;
      color: #afafaf;
      border-radius: 8px;
      cursor: pointer;

      &.on {
        color: #2f2f2f;
        background-color: #fff;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
      }
    }
  }
  &.line {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #afafaf;
    li {
      padding-bottom: 15px;
      color: #afafaf;
      font-size: 20px;
      position: relative;
      cursor: pointer;
      &:not(:first-of-type) {
        margin-left: 40px;
      }
      &.on {
        color: #2f2f2f;
        font-weight: 700;
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 4px;
          background-color: #2f2f2f;
          position: absolute;
          left: 0;
          bottom: -1px;
        }
      }
    }
  }
}

// pagination
.pagination {
  margin-top: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    &:not(:first-of-type) {
      margin-left: 8px;
    }
    &.on {
      a {
        background-color: #357ef1;
        border-radius: 50%;
        color: #fff;
        font-weight: 700;
      }
    }
    a {
      width: 32px;
      height: 32px;
      display: block;
      text-align: center;
      line-height: 32px;
      font-size: 20px;
      color: #afafaf;
    }
    &:nth-last-child(2) {
      margin-left: 32px;
    }
    &:nth-child(2) {
      margin-right: 32px;
    }
    &.double_prev {
      background: url("../img/icon/icon_double_arrow_on.svg");
      transform: rotate(180deg);
    }
    &.prev {
      background: url("../img/icon/icon_arrow_on.svg");
      transform: rotate(180deg);
    }
    &.double_next {
      background: url("../img/icon/icon_double_arrow_on.svg");
    }
    &.next {
      background: url("../img/icon/icon_arrow_on.svg");
    }
  }
}

// main_footer
.main {
  & + .footer {
    height: fit-content;

    .dim {
      background-color: rgba(0, 0, 0, 0.5);
    }

    .video_wrap {
      padding-top: calc(53% - 6px);
    }

    .box_wrap {
      padding: 200px 13.5% 338px;
    }
  }
}

// sub_footer
.footer {
  height: 583px;
  background-color: #2f2f2f;
  overflow: hidden;
  position: relative;
  margin-top: 240px;

  .box_wrap {
    width: 100%;
    padding: 120px 13.5% 140px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;

    a,
    p,
    span {
      font-size: 20px;
      color: #fff;
    }

    .top {
      display: flex;
      align-items: flex-end;

      ul {
        margin-left: 120px;
        display: flex;

        li {
          &:not(:first-of-type) {
            &::before {
              content: "";
              display: inline-block;
              width: 1px;
              height: 16px;
              margin: 0 24px;
              background-color: #fff;
            }
          }

          a {
            font-weight: 700;
          }
        }
      }
    }

    .bottom {
      margin-top: 100px;
      position: relative;

      .info {
        ul {
          margin-bottom: 64px;

          li {
            display: flex;
            align-items: center;

            &:not(:first-of-type) {
              margin-top: 16px;
            }

            p {
              margin-right: 64px;

              span {
                margin-right: 20px;
                font-weight: 700;
              }
            }
          }
        }
      }

      .sns_btn {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;

        li {
          text-indent: -9999px;

          &:not(:first-of-type) {
            margin-left: 12px;
          }

          &:last-of-type {
            a {
              background-image: url("../img/icon/icon_sns_facebook.svg");
            }
          }

          a {
            width: 40px;
            height: 40px;
            display: block;
            border-radius: 8px;
            background: #fff url("../img/icon/icon_sns_instagram.svg") no-repeat
              center;
          }
        }
      }
    }
  }
}

// login_footer
.login_common {
  & + .footer {
    width: 100%;
    height: 80px;
    padding: 24px 0;
    margin-top: 0;
    background-color: #fff;
    border-top: 1px solid #efefef;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    font-size: 14px;
    color: #afafaf;
    line-height: 32px;
  }
}

// sub page
.sub {
    .sub_top {
        width: 100%;
        height: 500px;
        background: url("../img/img_sub_reservation.jpg") no-repeat center / cover;
        position: relative;
    }

  .breadcrumb {
    max-width: 1400px;
    width: 100%;
    height: 64px;
    padding: 16px 32px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    bottom: -32px;
    transform: translateX(-50%);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.05);
    z-index: 11;

    ul {
      display: flex;
      align-items: center;

      li {
        display: flex;
        align-items: center;

        &:first-of-type {
          &::before {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            margin-right: 4px;
            background: url("../img/icon/icon_home.svg") no-repeat center;
          }
        }

        &:not(:first-of-type) {
          color: #afafaf;

          &::before {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            margin: 0 16px;
            background: url("../img/icon/icon_arrow.svg") no-repeat center /
              15px;
          }
        }

        a {
          font-size: 14px;
        }
      }
    }
  }

  .sub_container {
    max-width: 1400px;
    padding: 140px 0 240px;
    margin: 0 auto;

    .title {
      text-align: center;
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 80px;

      .desc {
        display: block;
        margin-top: 16px;
        font-size: 24px;
      }
    }
  }
}
