@import "./_res";

// template
.template {
    > div {
        max-width: 1400px;
        margin: 0 auto 80px;
        border-top: 2px dashed #357EF1 ;
        > h2 {
            text-align: left;
            font-size: 40px;
            margin: 40px;
        }
    }
}

// swiper
.swiper {
  position: relative;
  .swiper_btn_wrap {
      z-index: 2;
      > * {
          width: 60px;
          height: 60px;
          border: 2px solid #efefef;
          border-radius: 8px;
          transition: all 0.3s;
          &::after {
              font-size: 0;
              display: block;
              width: 32px;
              height: 32px;
              background: url("../img/icon/icon_arrow_white.svg") no-repeat center;
              transition: all 0.3s;
          }
          &:hover {
              border-color: #2f2f2f;
              &::after {
                  background-image: url("../img/icon/icon_arrow_on.svg");
              }
          }
      }
      .swiper-button-prev {
          left: 24px;
          transform: rotate(180deg);
      }
      .swiper-button-next {
        left:auto;
        right: 24px;
      }
  }
  .swiper-pagination {
      width: fit-content;
      text-align: left;
      display: flex;
      align-items: center;
      left: 13.5%;
      top:auto;
      bottom: 28px;
      .swiper-pagination-bullet {
          width: 12px;
          height: 12px;
          background: #efefef;
          opacity: 1;
          &.swiper-pagination-bullet-active {
              width: 40px;
              height: 16px;
              border-radius: 999px;
              background: #2f2f2f;
          }
      }
  }
}

// datepicker
.date {
  width: 220px;
  display: flex; 
  align-items: center;
  span {
      margin-top: 6px;
      white-space: nowrap;
  }
  input {
      cursor: pointer;
  }
  .tui-datepicker {
      padding: 0 12px 12px;
      border-radius: 8px;
      z-index: 999;
      overflow: hidden;
  }
  .tui-is-selectable {
      &.tui-is-selected {
          border-radius: 50% 0 0 50%;
          background-color: #357EF1;
          color: #fff !important;
          &:hover {
              border-radius: 50% 0 0 50%;
              background-color: #357EF1;
          }
      }
      &:hover {
          border-radius: 50%;
          background-color: #efefef;
      }
  }
  .tui-calendar-header-info {
      display: none;
  }
  .tui-calendar-body-header {
      border-bottom: 1px solid #efefef;
  }
  .tui-calendar th, .tui-calendar td {
      color: #2f2f2f;
  }
  .tui-sun, .tui-calendar-sun {
      color: #FF0F0F !important;
  }
  .tui-sat, .tui-calendar-sat {
      color: #357EF1 !important;

  }
  .tui-datepicker .tui-is-blocked, .tui-calendar-prev-month, .tui-calendar-next-month {
      color: #afafaf !important;
      visibility: visible;
  }
  .tui-is-selected-range {
      & + .tui-is-selected {
          border-radius: 0 50% 50% 0;
          &:hover {
              border-radius: 0 50% 50% 0;
          }
      }
      &:hover {
          border-radius: 0;
      }
  }
  .tui-datepicker-input {
      width: 200px;
      height: 48px;
      &.tui-has-focus {
          border: 0;
      }
      & > input {
          padding: 0; 
          font-size: 32px;
          font-weight: 700;
          letter-spacing: -1px;
          color: #fff;
          background-color: transparent;
      }
  }
}

.main {
  .swiper {
    .swiper_btn_wrap {
        position: absolute;
        right: 13.5%;
        bottom: 38px;
        transform: translateY(-50%);
        > * {
          border-color: #afafaf;
          &::after {
            background-image: url("../img/icon/icon_arrow.svg");
          }
          &:hover {
              border-color: #2f2f2f;
              &::after {
                  background-image: url("../img/icon/icon_arrow_on.svg");
              }
          }
        }
        .swiper-button-prev {
            left: auto;
            right:70px;
        }
        .swiper-button-next {
            left: auto;
            right:0;
        }
    }
  }
}

// input_list li.half
ul {
  &.input_list {
    li {
      width: calc(50% - 10px);
      &.half {
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        > div {
          width: calc(50% - 10px);
        }
      }
    }
  }
}

// body scroll 방지
body {
  &.prevent_scroll {
    height: 100%;
    overflow: hidden;
  }
}
// header
.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;

  .nav_bg {
    width: 100%;
    height: 352px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: -192px;
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
  }

  .inner {
    max-width: 1400px;
    height: 160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // nav
    .nav {
      .sub {
        display: flex;

        li {
          color: #fff;
          position: relative;

          .depth_1 {
            padding: 68px 30px;
            width: 100%;
            height: 100%;
            display: block;
            color: inherit;
          }

          .depth_2 {
            display: none;
            position: absolute;
            left: 50%;
            top: 132px;
            transform: translateX(-50%);

            a {
              width: 100%;
              height: 100%;
              padding: 10px 0;
              display: block;
              white-space: nowrap;
              text-align: center;

              &:hover {
                font-weight: 600;
              }
            }
          }
        }
      }
    }

    // nav_menu
    .nav_menu {
      display: flex;

      li {
        color: #fff;

        &:last-child {
          margin-left: 24px;
        }

        a {
          color: inherit;
        }
      }
    }
  }

  &.on {
    .nav_bg {
      top: 0;
      opacity: 1;
    }
    .logo {
      a {
        background-image: url("../img/logo.svg");
      }
    }
    .inner {
      .nav {
        .sub {
          li {
            color: #2f2f2f;

            .depth_1 {
              &.on {
                text-decoration: underline;
              }
            }

            .depth_2 {
              display: block;

              a {
              }
            }
          }
        }
      }

      .nav_menu {
        li {
          color: #2f2f2f;
        }
      }
    }
  }
}
// checkbox
.checkbox_wrap {
  width: 500px;
  max-height: 100%;
  border: 1px solid #efefef;
  border-radius: 20px;
  padding: 0 24px 24px 24px;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  .all {
    width: calc(100% + 48px);
    margin-left: -24px;
    padding: 16px 24px;
    margin-bottom: 16px;
    background-color: #efefef;
    position: relative;
    .toggle_btn {
      display: block;
      width: 24px;
      height: 24px;
      background: url("../img/icon/icon_arrow_on.svg") no-repeat center / 24px;
      position: absolute;
      right: 24px;
      top: 16px;
      transition: all 0.3s;
      transform: rotate(-90deg);
      cursor: pointer;
    }
  }
  .checkbox {
    &:not(:first-of-type) {
      & + label {
        margin-top: 16px;
      }
    }
    &#all_chk {
      & + label {
        color: #2f2f2f;
      }
    }
    & + label {
      width: fit-content;
      display: flex;
      align-items: center;
      font-weight: 500;
      color: #afafaf;
      cursor: pointer;
      i {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        display: block;
        border: 2px solid #afafaf;
        border-radius: 8px;
        background-color: #fff;
      }
      span {
        color: #FF0F0F;
      }
    }
    &:checked {
      & + label {
        color: #2f2f2f;
        i {
          border: 2px solid #2f2f2f;
          background: #fff url("../img/icon/icon_check_single.svg") no-repeat center;
        }
      }
    }
  }
  &.fold {
    max-height: 58px;
    .all {
      .toggle_btn {
        transform: rotate(90deg);
      }
    }
  }
}
// alert
.alert {
  font-size: 14px;
  color: #afafaf;
  font-weight: 500;
  line-height: 20px;
  span {
    display: block;
    font: inherit;
    color: inherit;
  }
}
* + .alert {
  margin-top: 20px;
}
.logo {
  width: 114px;
  height: 46px;
  a {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/logo_white.svg") no-repeat center;
  }
}

.dim {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

// fixed_menu
.fixed_menu {
  position: fixed;
  right: 40px;
  bottom: 60px;
  z-index: 99;

  ul {
    li {
      width: 64px;
      height: 64px;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.05);
      border-radius: 20px;

      a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 20px;
        font-size: 0;
        text-align: center;

        img {
          width: 20px;
          height: 20px;
        }

        span {
          font-weight: 700;
        }
      }

      &.weather_btn {
        span {
          font-size: 12px;
        }
      }

      &.chat_btn {
        margin-top: 12px;

        a {
          background-color: #357ef1;

          img {
            width: 32px;
            height: 32px;
          }
        }
      }

      &.top_btn {
        margin-top: 40px;

        a {
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}

// tab - box
.tab {
  &.box {
    padding: 8px;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    background-color: #efefef;

    li {
      padding: 8px 16px;
      font-size: 20px;
      line-height: 32px;
      color: #afafaf;
      border-radius: 8px;
      cursor: pointer;

      &.on {
        color: #2f2f2f;
        background-color: #fff;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
      }
    }
  }
  &.line {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #afafaf;
    li {
      padding-bottom: 15px;
      color: #afafaf;
      font-size: 20px;
      position: relative;
      cursor: pointer;
      &:not(:first-of-type) {
        margin-left: 40px;
      }
      &.on {
        color: #2f2f2f;
        font-weight: 700;
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 4px;
          background-color: #2f2f2f;
          position: absolute;
          left: 0;
          bottom: -1px;
        }
      }
    }
  }
}

// pagination
.pagination {
  margin-top: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    &:not(:first-of-type) {
      margin-left: 8px;
    }
    &.on {
      a {
        background-color: #357ef1;
        border-radius: 50%;
        color: #fff;
        font-weight: 700;
      }
    }
    a {
      width: 32px;
      height: 32px;
      display: block;
      text-align: center;
      line-height: 32px;
      font-size: 20px;
      color: #afafaf;
    }
    &:nth-last-child(2) {
      margin-left: 32px;
    }
    &:nth-child(2) {
      margin-right: 32px;
    }
    &.double_prev {
      background: url("../img/icon/icon_double_arrow_on.svg");
      transform: rotate(180deg);
    }
    &.prev {
      background: url("../img/icon/icon_arrow_on.svg");
      transform: rotate(180deg);
    }
    &.double_next {
      background: url("../img/icon/icon_double_arrow_on.svg");
    }
    &.next {
      background: url("../img/icon/icon_arrow_on.svg");
    }
  }
}

.footer {
}

// sub_footer
.footer {
  height: 583px;
  background-color: #2f2f2f;
  overflow: hidden;
  position: relative;
  // margin-top: 240px;
  .box_wrap {
    width: 100%;
    padding: 120px 13.5% 140px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;

    a,
    p,
    span {
      font-size: 20px;
      color: #fff;
    }

    .top {
      display: flex;
      align-items: flex-end;

      ul {
        margin-left: 120px;
        display: flex;

        li {
          &:not(:first-of-type) {
            &::before {
              content: "";
              display: inline-block;
              width: 1px;
              height: 16px;
              margin: 0 24px;
              background-color: #fff;
            }
          }

          a {
            font-weight: 700;
          }
        }
      }
    }

    .bottom {
      margin-top: 100px;
      position: relative;

      .info {
        ul {
          margin-bottom: 64px;

          li {
            display: flex;
            align-items: center;

            &:not(:first-of-type) {
              margin-top: 16px;
            }

            p {
              margin-right: 64px;

              span {
                margin-right: 20px;
                font-weight: 700;
              }
            }
          }
        }
      }

      .sns_btn {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;

        li {
          text-indent: -9999px;

          &:not(:first-of-type) {
            margin-left: 12px;
          }

          &:last-of-type {
            a {
              background-image: url("../img/icon/icon_sns_facebook.svg");
            }
          }

          a {
            width: 40px;
            height: 40px;
            display: block;
            border-radius: 8px;
            background: #fff url("../img/icon/icon_sns_instagram.svg") no-repeat
              center;
          }
        }
      }
    }
  }
  // main_footer
  &.main {
    height: fit-content;
    .dim {
      background-color: rgba(0, 0, 0, 0.5);
    }
    .video_wrap {
      padding-top: calc(53% - 6px);
    }
    .box_wrap {
      padding: 200px 13.5% 338px;
    }
  }
  // login_footer
  &.login {
    width: 100%;
    height: 80px;
    padding: 24px 0;
    margin-top: 0;
    background-color: #fff;
    border-top: 1px solid #efefef;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    font-size: 14px;
    color: #afafaf;
    line-height: 32px;
  }
}

// sub page
.sub {
    .sub_top {
        width: 100%;
        height: 500px;
        background: url("../img/img_sub_reservation.jpg") no-repeat center / cover;
        position: relative;
    }

  .breadcrumb {
    max-width: 1400px;
    width: 100%;
    height: 64px;
    padding: 16px 32px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    bottom: -32px;
    transform: translateX(-50%);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.05);
    z-index: 11;

    ul {
      display: flex;
      align-items: center;

      li {
        display: flex;
        align-items: center;

        &:first-of-type {
          &::before {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            margin-right: 4px;
            background: url("../img/icon/icon_home.svg") no-repeat center;
          }
        }

        &:not(:first-of-type) {
          color: #afafaf;

          &::before {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            margin: 0 16px;
            background: url("../img/icon/icon_arrow.svg") no-repeat center /
              15px;
          }
        }

        a {
          font-size: 14px;
        }
      }
    }
  }

  .sub_container {
    max-width: 1400px;
    padding: 140px 0 240px;
    margin: 0 auto;

    .title {
      text-align: center;
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 80px;

      .desc {
        display: block;
        margin-top: 16px;
        font-size: 24px;
      }
    }
  }
}

// popup
.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0,0.7);
  z-index: 998;
  display: none;
  &.active {
    display: block;
  }
  .popup_cont{
    width: 100%;
    max-width: 1000px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    background-color: #EBEBEC;
    border: 1px solid #afafaf;
    border-radius: 20px;
    overflow: hidden;
    .popup_top{
      width: 100%;
      height: 65px;
      text-align: center;
      position: relative;
      .popup_title{
        width: fit-content;
        color: #2f2f2f;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
      }
      .popup_close_btn{
        width: 64px;
        height: 64px;
        background: url("../img/icon/icon_popup_close.svg") no-repeat center;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .popup_inner {
      width: calc(100% - 160px);
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
    }
  }
}
// 쿠폰 팝업
.popup {
  &.coupon {
    .popup_cont {
      max-width: 514px;
      padding-bottom: 40px;
      .popup_title {
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .popup_inner {
        width: 434px;
        height: 544px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 4px 4px rgba(0,0,0,0.1);
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .coupon_popup_cont_inner{
          width: 100%;
          >div {
            width: 394px;
            height: 117px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #efefef;
            border-radius: 8px;
            box-shadow: 2px 2px 8px rgba(0,0,0,0.05);
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            &:not(:last-of-type) {
              margin-bottom: 12px;
            }
          }
          .coupon_popup_cont_inner_coupon_02{
              .coupon_popup_cont_inner_coupon_txt{
                  .coupon_popup_cont_inner_coupon_date{
                      .coupon_popup_cont_inner_coupon_date_icon{
                          background-color: #FF0F0F;
                      }
                  }
              }
          }
          .coupon_popup_cont_inner_coupon_tit{
              h2{
                  color: #357EF1;
                  font-size: 40px;
                  font-weight: 700;
              }
              h3{
                  color: #2f2f2f;
                  font-size: 16px;
                  font-weight: 600;
              }
          }
          .coupon_popup_cont_inner_coupon_txt{
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              span{
                  font-size: 14px;
                  color: #AFAFAF;
              }
              .coupon_popup_cont_inner_coupon_date{
                  display: flex;
                  .coupon_popup_cont_inner_coupon_date_icon{
                      width: 31px;
                      height: 18px;
                      border-radius: 4px;
                      background: #357EF1;
                      color: #fff;
                      text-align: center;
                      font-size: 8px;
                      font-weight: 700;
                      padding: 3px 8px;
                      margin-right: 8px;
                  }
              }
          }
        }
      }
    }
  }
}
// 회원가입 팝업
.popup {
  &.join {
    .popup_cont {
      width: 460px;
      padding-bottom: 40px;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
      .popup_inner {
        width: 100%;
        padding-top: 0;
        .join_popup_tit{
            text-align: center;
            .join_popup_title{
                font-size: 24px;
                font-weight: 700;
                color: #357EF1;
                margin-bottom: 12px;
            }
            .join_popup_sub_title{
                font-size: 20px;
                font-weight: 600;
                color: #2f2f2f;
            }
        }
        .join_popup_txt{
            text-align: center;
            margin-top: 32px;
            p {
              font-size: 16px; 
              color: #2f2f2f;
            }
        }
      }
      .popup_bottom_btn{
          margin-top: 12px;
          display: flex;
          justify-content: center;
          button{
              width: 184px;
              padding: 8px 32px;
              border-radius: 8px;
              text-align: center;
              a{
                  color: #fff;
              }
          }
          .join_popup_btn_progress{
              background-color: #357EF1;
              margin-right: 12px;
          }
          .join_popup_btn_cancel{
              background-color: #AFAFAF;
          }
      }
    }
  }
}

// responsive
.pc_only {
  display: block;
}
.pc_flex {
  display: flex;
}
.mb_only, .mb_flex {
  display: none;
}
@media screen and (max-width:1279px) {
  .pc_only, .pc_flex {
    display: none !important;
  }
  .mb_only {
    display: block !important;
  }
  .mb_flex {
    display: flex !important;
  }
}

@import "./_res-common";