.login_common {
  width: 100%;
  height: 100vh;
}
.login_common .logo_txt {
  margin-bottom: 56px;
}
.login_common .logo_txt h1 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.login_common .logo_txt h2 {
  padding-top: 40px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.login {
  margin: 160px auto 0;
}
.login .login_wrap {
  width: 480px;
  padding: 72px 40px 48px;
  margin: 0 auto;
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.login .login_wrap .daon .login_daon {
  margin-bottom: 60px;
}
.login .login_wrap .daon .login_daon .login_input_box {
  margin-bottom: 24px;
}
.login .login_wrap .daon .login_daon .login_input_box .email_box {
  width: 400px;
  padding-left: 20px;
  position: relative;
  border: 1px solid #afafaf;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 12px;
}
.login .login_wrap .daon .login_daon .login_input_box .email_box label {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  display: inline-block;
  background-image: url(../img/icon/icon_mail_grey.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
}
.login .login_wrap .daon .login_daon .login_input_box .email_box input {
  width: calc(100% - 40px);
  padding: 16px 0;
  color: #afafaf;
  vertical-align: middle;
}
.login .login_wrap .daon .login_daon .login_input_box .email_box input:focus {
  width: calc(100% - 100px);
}
.login .login_wrap .daon .login_daon .login_input_box .email_box .input_reset_btn {
  width: 16px;
  height: 16px;
  opacity: 1;
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translate(-50%, -50%);
  background-image: url(../img/icon/icon_x_circle.svg);
}
.login .login_wrap .daon .login_daon .login_input_box .email_box .eye {
  width: 20px;
  height: 20px;
  right: 32px;
  background-image: url(../img/icon/icon_eye.svg);
}
.login .login_wrap .daon .login_daon .login_input_box .email_box input:focus ~ .input_reset_btn {
  opacity: 1;
  visibility: visible;
}
.login .login_wrap .daon .login_daon .login_input_box .pw_box {
  width: 400px;
  padding-left: 20px;
  position: relative;
  border: 1px solid #afafaf;
  border-radius: 8px;
  overflow: hidden;
}
.login .login_wrap .daon .login_daon .login_input_box .pw_box label {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  display: inline-block;
  background-image: url(../img/icon/icon_lock.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
}
.login .login_wrap .daon .login_daon .login_input_box .pw_box input {
  width: calc(100% - 40px);
  padding: 16px 0;
  color: #afafaf;
  vertical-align: middle;
}
.login .login_wrap .daon .login_daon .login_input_box .pw_box input:focus {
  width: calc(100% - 100px);
}
.login .login_wrap .daon .login_daon .login_input_box .pw_box .input_reset_btn {
  width: 16px;
  height: 16px;
  opacity: 1;
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translate(-50%, -50%);
  background-image: url(../img/icon/icon_x_circle.svg);
}
.login .login_wrap .daon .login_daon .login_input_box .pw_box .eye {
  width: 20px;
  height: 20px;
  right: 32px;
  background-image: url(../img/icon/icon_eye.svg);
}
.login .login_wrap .daon .login_daon .login_input_box .pw_box input:focus ~ .input_reset_btn {
  opacity: 1;
  visibility: visible;
}
.login .login_wrap .daon .login_daon .login_btn {
  width: 400px;
  padding: 16px 32px;
  text-align: center;
  font-weight: 700;
  background-color: #357EF1;
  border-radius: 8px;
  color: #ffffff;
}
.login .login_wrap .daon .join_daon {
  margin-bottom: 40px;
}
.login .login_wrap .daon .join_daon .login_white_btn {
  width: 400px;
  padding: 16px 32px;
  text-align: center;
  font-weight: 700;
  border: 1px solid #357EF1;
  border-radius: 8px;
  color: #357EF1;
}
.login .login_wrap .sns .login_sns {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.login .login_wrap .sns .login_sns li button {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-repeat: no-repeat;
  background-position: center;
}
.login .login_wrap .sns .login_sns li .kakao {
  background-color: #fff500;
  background-image: url(../img/icon/icon_kakao.svg);
}
.login .login_wrap .sns .login_sns li .naver {
  background-color: #06CC80;
  background-image: url(../img/icon/icon_naver.svg);
}
.login .login_wrap .sns .login_sns li .google {
  background-color: #ffffff;
  border: 1px solid #afafaf;
  background-image: url(../img/icon/icon_google.svg);
}

.join .inputboxs {
  width: 480px;
  padding: 72px 40px 48px;
  margin: 0 auto;
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.join .inputboxs .emailbox {
  width: 400px;
  padding-left: 20px;
  position: relative;
  border: 1px solid #afafaf;
  border-radius: 8px;
  overflow: hidden;
}
.join .inputboxs .emailbox label {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  display: inline-block;
  background-image: url(../img/icon/icon_mail_afafaf.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
}
.join .inputboxs .emailbox input {
  width: calc(100% - 40px);
  padding: 16px 0;
  color: #afafaf;
  vertical-align: middle;
}
.join .inputboxs .emailbox input:focus {
  width: calc(100% - 100px);
}
.join .inputboxs .emailbox .input_reset_btn {
  width: 16px;
  height: 16px;
  opacity: 1;
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translate(-50%, -50%);
  background-image: url(../img/icon/icon_x_circle.svg);
}
.join .inputboxs .emailbox .eye {
  width: 20px;
  height: 20px;
  right: 32px;
  background-image: url(../img/icon/icon_eye.svg);
}
.join .inputboxs .emailbox input:focus ~ .input_reset_btn {
  opacity: 1;
  visibility: visible;
}
.join .inputboxs .pwbox {
  width: 400px;
  padding-left: 20px;
  position: relative;
  border: 1px solid #afafaf;
  border-radius: 8px;
  overflow: hidden;
}
.join .inputboxs .pwbox label {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  display: inline-block;
  background-image: url(../img/icon/icon_lock.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
}
.join .inputboxs .pwbox input {
  width: calc(100% - 40px);
  padding: 16px 0;
  color: #afafaf;
  vertical-align: middle;
}
.join .inputboxs .pwbox input:focus {
  width: calc(100% - 100px);
}
.join .inputboxs .pwbox .input_reset_btn {
  width: 16px;
  height: 16px;
  opacity: 1;
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translate(-50%, -50%);
  background-image: url(../img/icon/icon_x_circle.svg);
}
.join .inputboxs .pwbox .eye {
  width: 20px;
  height: 20px;
  right: 32px;
  background-image: url(../img/icon/icon_eye.svg);
}
.join .inputboxs .pwbox input:focus ~ .input_reset_btn {
  opacity: 1;
  visibility: visible;
}
.join .inputboxs .pwcheckbox {
  width: 400px;
  padding-left: 20px;
  position: relative;
  border: 1px solid #afafaf;
  border-radius: 8px;
  overflow: hidden;
}
.join .inputboxs .pwcheckbox label {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  display: inline-block;
  background-image: url(../img/icon/icon_lock.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
}
.join .inputboxs .pwcheckbox input {
  width: calc(100% - 40px);
  padding: 16px 0;
  color: #afafaf;
  vertical-align: middle;
}
.join .inputboxs .pwcheckbox input:focus {
  width: calc(100% - 100px);
}
.join .inputboxs .pwcheckbox .input_reset_btn {
  width: 16px;
  height: 16px;
  opacity: 1;
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translate(-50%, -50%);
  background-image: url(../img/icon/icon_x_circle.svg);
}
.join .inputboxs .pwcheckbox .eye {
  width: 20px;
  height: 20px;
  right: 32px;
  background-image: url(../img/icon/icon_eye.svg);
}
.join .inputboxs .pwcheckbox input:focus ~ .input_reset_btn {
  opacity: 1;
  visibility: visible;
}
.join .inputboxs .name {
  width: 400px;
  padding-left: 20px;
  position: relative;
  border: 1px solid #afafaf;
  border-radius: 8px;
  overflow: hidden;
}
.join .inputboxs .name label {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  display: inline-block;
  background-image: url(../img/icon/icon_person.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
}
.join .inputboxs .name input {
  width: calc(100% - 40px);
  padding: 16px 0;
  color: #afafaf;
  vertical-align: middle;
}
.join .inputboxs .name input:focus {
  width: calc(100% - 100px);
}
.join .inputboxs .name .input_reset_btn {
  width: 16px;
  height: 16px;
  opacity: 1;
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translate(-50%, -50%);
  background-image: url(../img/icon/icon_x_circle.svg);
}
.join .inputboxs .name .eye {
  width: 20px;
  height: 20px;
  right: 32px;
  background-image: url(../img/icon/icon_eye.svg);
}
.join .inputboxs .name input:focus ~ .input_reset_btn {
  opacity: 1;
  visibility: visible;
}
.join .inputboxs .pv {
  width: 400px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.join .inputboxs .pv .phone {
  width: 400px;
  padding-left: 20px;
  position: relative;
  border: 1px solid #afafaf;
  border-radius: 8px;
  overflow: hidden;
}
.join .inputboxs .pv .phone label {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  display: inline-block;
  background-image: url(../img/icon/icon_phone.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
}
.join .inputboxs .pv .phone input {
  width: calc(100% - 40px);
  padding: 16px 0;
  color: #afafaf;
  vertical-align: middle;
}
.join .inputboxs .pv .phone input:focus {
  width: calc(100% - 100px);
}
.join .inputboxs .pv .phone .input_reset_btn {
  width: 16px;
  height: 16px;
  opacity: 1;
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translate(-50%, -50%);
  background-image: url(../img/icon/icon_x_circle.svg);
}
.join .inputboxs .pv .phone .eye {
  width: 20px;
  height: 20px;
  right: 32px;
  background-image: url(../img/icon/icon_eye.svg);
}
.join .inputboxs .pv .phone input:focus ~ .input_reset_btn {
  opacity: 1;
  visibility: visible;
}
.join .inputboxs .pv .phone_btn {
  width: 180px;
  padding: 16px 32px;
  text-align: center;
  font-weight: 700;
  background-color: #357EF1;
  border-radius: 8px;
  color: #ffffff;
}
.join .inputboxs .verify {
  width: 400px;
  padding-left: 20px;
  position: relative;
  border: 1px solid #afafaf;
  border-radius: 8px;
  overflow: hidden;
}
.join .inputboxs .verify label {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  display: inline-block;
  background-image: url(../img/icon/icon_phone.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
}
.join .inputboxs .verify input {
  width: calc(100% - 40px);
  padding: 16px 0;
  color: #afafaf;
  vertical-align: middle;
}
.join .inputboxs .verify input:focus {
  width: calc(100% - 100px);
}
.join .inputboxs .verify .input_reset_btn {
  width: 16px;
  height: 16px;
  opacity: 1;
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translate(-50%, -50%);
  background-image: url(../img/icon/icon_x_circle.svg);
}
.join .inputboxs .verify .eye {
  width: 20px;
  height: 20px;
  right: 32px;
  background-image: url(../img/icon/icon_eye.svg);
}
.join .inputboxs .verify input:focus ~ .input_reset_btn {
  opacity: 1;
  visibility: visible;
}