$input-width: 400px;
$box-width: 480px;
$box-height: 570px;

@mixin inputbox($w:$input-width, $icn)
{   width: $w;
    padding: 0 20px;
    position: relative;

    border: 1px solid #afafaf;
    border-radius: 8px;

    label{
        width: 20px;
        height: 20px;
        margin-right: 8px;
        display: inline-block;

        background-image: $icn;
        background-repeat: no-repeat;
        vertical-align: middle;
    }

    input{
        width: calc(100% - 40px);
        padding: 16px 0;
        color: #afafaf;    
        vertical-align: middle;   
    }

    // 우측아이콘
    .x{
        width: 16px;
        height: 16px;
        
        position: absolute;
        opacity: 0;
        transform: translate(-50%, -50%);

        top: 50%;
        background-image: url(../img/icon/icon_x-circle.svg);
    }
    .eye{
        width: 20px;
        height: 20px;

        right: 36px;
        background-image: url(../img/icon/icon_eye.svg);
    }

    input:focus ~ .x{
        opacity: 1;
    }

    @content
}

@mixin box-shadow($w:$box-width, $h:$box-height){
    width: $w;
    height: $h;
    padding: auto 40px;
    margin: 0 auto;

    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    @content
}

@mixin btn($w:$input-width){
    width: $w;
    padding: 16px 32px;
    
    text-align: center;
    font-weight: 700;
    
    background-color: #357EF1;
    border-radius: 8px;
    color: #ffffff;

    @content
}
@mixin btn_reverse($w:$input-width){
    width: $w;
    padding: 16px 32px;
    
    text-align: center;
    font-weight: 700;
    
    border: 1px solid #357EF1;
    border-radius: 8px;
    color: #357EF1;

    @content
}
// ---------------------------------------------------------

// 로그인+회원가입 공통
.login_common {
    width: 100%;
    height: 100vh;

    .logoNtxt{
        margin-top: 160px;
        margin-bottom: 56px;

        h2{
            padding-top: 40px;
            font-size: 32px;
            font-weight: 700;
            text-align: center;
        }
    }
}

// 로그인
.login {
    .box-shadow{
        @include box-shadow;
        display: flex;
        justify-content: center;
        align-items: center;
        
            .login_daon{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .emailbox{
                    @include inputbox($icn: url(../img/icon/icon_mail_afafaf.svg));
                    margin-bottom: 12px;
                }
                .pwbox{
                    @include inputbox($icn: url(../img/icon/icon_lock.svg));
                    margin-bottom: 24px;
                }
            
                .login_btn{
                    @include btn;
                    margin-bottom: 60px;
                }
                .login_white_btn{
                    @include btn_reverse;
                    margin-bottom: 40px;
                }
                
            }
        
        
        .login_sns{
            display: flex;
            justify-content: center;
            gap: 16px;

            .login_sns_btn{
                width: 60px;
                height: 60px;

                border-radius: 60px;
                background-repeat: no-repeat;
                background-position: center;
            }
            .kakao{
                background-color: #fff500;
                background-image: url(../img/icon/icon_kakao.svg);
            }
            .naver{
                background-color: #06CC80;
                background-image: url(../img/icon/icon_naver.svg);
            }
            .google{
                background-color: #ffffff;
                border: 1px solid #afafaf;
                background-image: url(../img/icon/icon_google.svg);
            }
        }
    
    }
}

// 회원가입
.join {
    .inputboxs{
        @include box-shadow;
        p{
            border-bottom: 12px;
        }
        
        .emailbox{@include inputbox($icn: url(../img/icon/icon_mail_afafaf.svg));}
        .pwbox{@include inputbox($icn: url(../img/icon/icon_lock.svg));}
        .pwcheckbox{@include inputbox($icn: url(../img/icon/icon_lock.svg));}
        .name{@include inputbox($icn: url(../img/icon/icon_person.svg));}
        .phone{@include inputbox($icn: url(../img/icon/icon_phone.svg));}
        .verify{@include inputbox($icn: url(../img/icon/icon_phone.svg));}
    }
}

// 회원가입 완료
.join_complete {}