@charset "UTF-8";
/* [↓] 하단 나중에 작업 완료 후 삭제 [↓] */
/* 분기점 
1280~1500: pc   pc-s
768~1279: 태블릿     tab
481~767: 모바일라지  mo-l
~480: 모바일         mo-s 
*/
/* 변동사항(확인 후 삭제하셔도 됩니다!)--------------------------------------
  모든 로그인 관련 페이지는 모바일 기준으로 기본 디자인을 잡았기 때문에 디자인적 변동사항이 적습니다.
  세부사항은 아래와 같습니다.
pc-s: 없음
tab: 
- .login_common
        ㄴ .logo_wrap : 로고-텍스트묶음의 하단 간격 조정 56->48px
mo-l:
    - .login_common : 
        ㄴ 기본 좌우 패딩 16px
        ㄴ .logo_wrap 로고-텍스트 간 간격 줄임(40->36px)
        ㄴ .logo_wrap 로고-텍스트의 텍스트 폰트사이즈 줄임(32->24px)
        ㄴ 인풋박스 width 크게(400->480px)
        ㄴ 버튼 width 크게(400->480px)
    - .login : 
        ㄴ 그림자 박스 제거
        ㄴ 인풋박스 width 크게 (400->480px)
        ㄴ 버튼 width 크게(400 -> 480px)
        ㄴ 로그인-회원가입버튼 간격(60->40px)
    - .join : 
        ㄴ 그림자 박스 제거
        ㄴ 인풋박스 width 크게
        ㄴ 버튼 width(480->400px)
        ㄴ 인풋박스-체크박스 간 간격 조정 (16->48px)
        ㄴ 전체 동의 배경색 제거, border를 추가해 영역 구분
        ㄴ .join_optional_info(*선택항목은 동의없이~) 상단 마진 삭제
    - .join_complete
        ㄴ 로고-체크-텍스트와 컨텐츠 간 간격 조정(48->24px)
        ㄴ mo-l .login_common의 3번째 항목: .logo_wrap 간격 늘림(36->48px)
        ㄴ 체크 아이콘 사이즈 작게(80x80 -> 60x60)
        ㄴ.greeting p (환영합~) : 폰트 사이즈 축소 (24->20px)
        ㄴ.greeting p (환영합~)와 버튼 간격 축소 (100->80px)
        ㄴ 버튼 max-width 줄임(240->200px)
mo-s: 
    - .login_common : 
        ㄴ 텍스트 폰트사이즈 줄임(24->20px)
    - .login : 
        ㄴ 없음
    - .join_complete 
        ㄴ.greeting p (환영합~)와 버튼 간격 축소 (80->40px)
        ㄴ .greeting p (환영합~) : 폰트 사이즈 축소 (20->16px)
        ㄴ 버튼 width 고정(깨짐 방지)(160px)
* 360px일 때 회원가입 페이지-인증번호 버튼이 2줄로 깨지는 현상 때문에 미디어쿼리 추가했습니다.
*/
/* [↑] 상단 나중에 작업 완료 후 삭제 [↑] */
@media (max-width: 1279px) {
  body .login_common .logo_wrap {
    margin-bottom: 48px;
  }
}
@media (max-width: 767px) {
  body .login_common {
    padding: 100px 16px 0;
  }
  body .login_common .logo_wrap .txt {
    margin-top: 36px;
    font-size: 24px;
  }
  body .login .login_wrap {
    width: 100%;
    max-width: 480px;
    padding: 0;
    margin: 0 auto;
    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: none;
  }
  body .login .login_wrap .login_daon .login_login_daon {
    margin-bottom: 40px;
  }
  body .join .join_wrap .join_personal_info {
    width: 100%;
    max-width: 480px;
    padding: 0;
    margin: 0 auto;
    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 0;
    box-shadow: none;
    margin-bottom: 48px;
  }
  body .join .join_wrap .join_agree .agree_checkbox {
    width: 100%;
    max-width: 480px;
    padding: 0;
    margin: 0 auto;
    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
  }
  body .join .join_wrap .join_agree .agree_checkbox .agree_all {
    background-color: transparent;
    border-top: 1px solid #efefef;
    border-bottom: 1px dotted #efefef;
  }
  body .join .join_wrap .join_agree .join_optional_info {
    margin-top: 0;
  }
  body .join_complete .logo_wrap {
    margin-bottom: 24px;
  }
  body .join_complete .logo_wrap .txt {
    margin-top: 48px;
  }
  body .join_complete .logo_wrap .txt::before {
    width: 60px;
    height: 60px;
    background-image: url(../img/icon/icon_check_big_mobile.svg);
  }
  body .join_complete .join_complete_wrap .greeting {
    margin-bottom: 80px;
  }
  body .join_complete .join_complete_wrap .greeting p {
    font-size: 20px;
  }
  body .join_complete .join_complete_wrap .join_complete_btn a button {
    max-width: 200px;
  }
}
@media (max-width: 479px) {
  body .login_common .logo_wrap .txt {
    font-size: 20px;
  }
  body .join_complete .join_complete_wrap .greeting {
    margin-bottom: 40px;
  }
  body .join_complete .join_complete_wrap .greeting p {
    font-size: 16px;
  }
  body .join_complete .join_complete_wrap .join_complete_btn a button {
    width: 160px;
  }
}
.mypage .sub_top {
  background: url("../img/img_sub_mypage.jpg") no-repeat center/cover;
}
.mypage .sub_top .dim {
  background-color: rgba(0, 0, 0, 0.3);
}
.mypage .sub_container .contents {
  width: 100%;
}
.mypage .sub_container .contents .mypage_wrap .mypage_tap_wrap {
  width: 100%;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont {
  width: 100%;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont div {
  display: none;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont div.on {
  display: block;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info {
  width: 100%;
  margin: 40px 24px;
  position: relative;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul.email_ul .checkbox_wrap, .mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul.name_ul .checkbox_wrap {
  width: 330px;
  border: none;
  padding: 16px 40px;
  overflow: visible;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul.email_ul .checkbox_wrap span, .mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul.name_ul .checkbox_wrap span {
  color: #afafaf;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul.email_ul .checkbox_wrap .checkbox, .mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul.email_ul .checkbox_wrap label, .mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul.name_ul .checkbox_wrap .checkbox, .mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul.name_ul .checkbox_wrap label {
  display: flex;
  border: none;
  background-color: transparent;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul.email_ul .checkbox_wrap label, .mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul.name_ul .checkbox_wrap label {
  width: 330px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul.phone_ul, .mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul.birth_ul, .mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul.coupon_ul {
  padding-bottom: 16px;
  border-bottom: 2px solid #efefef;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul p {
  width: 170px;
  font-size: 20px;
  color: #2f2f2f;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul li {
  width: 100%;
  max-width: 480px;
  position: relative;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul li label {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul li input {
  width: 100%;
  padding: 16px 48px;
  border: 1px solid #afafaf;
  border-radius: 8px;
  vertical-align: middle;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul li .input_reset_btn {
  width: 16px;
  height: 16px;
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translate(-50%, -50%);
  background-image: url(../img/icon/icon_x_circle.svg);
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul li .eye {
  width: 20px;
  height: 20px;
  right: 32px;
  background-image: url(../img/icon/icon_eye.svg);
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul li input:focus ~ .input_reset_btn {
  visibility: visible;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul li.email_box {
  background-color: #EFEFEF;
  border-radius: 8px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul li.email_box label {
  background-image: url(../img/icon/icon_mail_grey.svg);
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul li.pw_box label {
  background-image: url(../img/icon/icon_lock.svg);
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul li.pw_check_box label {
  background-image: url(../img/icon/icon_lock.svg);
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul li.name_box label {
  background-image: url(../img/icon/icon_person.svg);
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul li.phone_box label {
  background-image: url(../img/icon/icon_phone.svg);
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul li.birth_box label {
  background-image: url(../img/icon/icon_calendar.svg);
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li ul li.coupon_box input {
  width: 116px;
  height: 36px;
  line-height: 36px;
  padding: 2px 0;
  font-size: 16px;
  background-color: #357EF1;
  border: none;
  border-radius: 8px;
  color: #fff;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_btn {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 104px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_btn button {
  width: 249px;
  height: 46px;
  border-radius: 8px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_btn .mypage_info_fix_btn {
  background-color: #357EF1;
  border: none;
  margin-right: 12px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_btn .mypage_info_fix_btn a {
  color: #fff;
  font-size: 18px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_btn .mypage_info_cancel_btn {
  border: 1px solid #AFAFAF;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_btn .mypage_info_cancel_btn a {
  color: #2f2f2f;
  font-size: 18px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_member_delete {
  width: 60px;
  height: 20px;
  right: 8px;
  border-bottom: 1px solid #afafaf;
  position: absolute;
  right: 24px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_member_delete .mypage_info_member_delete_btn a {
  color: #afafaf;
  font-size: 16px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation {
  width: 100%;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation ul.mypage_reservation_list {
  width: 100%;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation ul.mypage_reservation_list li {
  width: 100%;
  display: flex;
  padding: 24px 0;
  border-bottom: 2px solid #EFEFEF;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation ul.mypage_reservation_list li:nth-child(4) p {
  color: #AFAFAF;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation ul.mypage_reservation_list li h5 {
  font-weight: 700;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation ul.mypage_reservation_list li h5, .mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation ul.mypage_reservation_list li p {
  font-size: 20px;
  color: #2f2f2f;
  text-align: center;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation ul.mypage_reservation_list li h5:nth-child(1), .mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation ul.mypage_reservation_list li p:nth-child(1) {
  width: 320px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation ul.mypage_reservation_list li h5:nth-child(2), .mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation ul.mypage_reservation_list li p:nth-child(2) {
  width: 180px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation ul.mypage_reservation_list li h5:nth-child(3), .mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation ul.mypage_reservation_list li p:nth-child(3) {
  width: 180px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation ul.mypage_reservation_list li h5:nth-child(4), .mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation ul.mypage_reservation_list li p:nth-child(4) {
  width: 340px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation ul.mypage_reservation_list li h5:nth-child(5), .mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation ul.mypage_reservation_list li p:nth-child(5) {
  width: 330px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation .mypage_reservation_cancel {
  width: 100%;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation .mypage_reservation_cancel h3 {
  margin: 60px 0;
  font-size: 24px;
  font-weight: 700;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation .mypage_reservation_cancel table {
  width: 100%;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation .mypage_reservation_cancel table tr th {
  width: 420px;
  height: 80px;
  font-size: 20px;
  border: 1px solid #AFAFAF;
  padding: 30px 0 30px 80px;
  text-align: left;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation .mypage_reservation_cancel table tr td {
  border: 1px solid #AFAFAF;
  padding: 30px 0 30px 80px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation .mypage_reservation_cancel table tr td ul li {
  font-size: 16px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_reservation .mypage_reservation_cancel span {
  font-size: 16px;
  color: #AFAFAF;
  font-weight: 300;
  margin: 16px 8px;
  display: block;
}

.reservation_state .sub_top {
  background: url("../img/img_sub_mypage.jpg") no-repeat;
}
.reservation_state .sub_top .dim {
  background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 1499px) {
  .reservation_state .sub_container .contents {
    padding: 32px;
  }
  .reservation_state .sub_container .contents ul.tab {
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: flex;
    border-bottom: 1px solid #afafaf;
  }
  .reservation_state .sub_container .contents ul.tab li {
    width: 120px;
    font-size: 20px;
    color: #afafaf;
    padding: 4px 16px;
    text-align: center;
    cursor: pointer;
  }
  .reservation_state .sub_container .contents ul.tab li.on {
    color: #2f2f2f;
    font-weight: 700;
    border-bottom: 4px solid #2f2f2f;
  }
  .reservation_state .sub_container .contents .mypage_reservation {
    width: 100%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list {
    width: 100%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 24px 0;
    border-bottom: 2px solid #EFEFEF;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li:nth-child(4) p {
    color: #AFAFAF;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5 {
    font-weight: 700;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5, .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p {
    font-size: 18px;
    color: #2f2f2f;
    text-align: center;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(1), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(1) {
    width: 25%;
    padding-right: 10px;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(2), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(2) {
    width: 15%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(3), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(3) {
    width: 10%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(4), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(4) {
    width: 25%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(5), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(5) {
    width: 25%;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel {
    width: 100%;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel h3 {
    margin: 60px 0 40px;
    font-size: 20px;
    font-weight: 700;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel table {
    width: 100%;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel table tr td {
    font-size: 18px;
    border: 1px solid #AFAFAF;
    padding: 20px 20px 20px 60px;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel table tr td:first-child {
    width: 30%;
    height: 80px;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel table tr td ul li {
    font-size: 16px;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel span {
    font-size: 16px;
    color: #AFAFAF;
    font-weight: 300;
    margin: 12px 8px;
    display: block;
  }
}
@media (max-width: 1279px) {
  .reservation_state .sub_container .contents {
    padding: 32px;
  }
  .reservation_state .sub_container .contents ul.tab {
    width: 100%;
    height: 32px;
    line-height: 32px;
    display: flex;
    border-bottom: 1px solid #afafaf;
  }
  .reservation_state .sub_container .contents ul.tab li {
    width: 100px;
    font-size: 18px;
    color: #afafaf;
    padding: 4px 12px;
    text-align: center;
    cursor: pointer;
  }
  .reservation_state .sub_container .contents ul.tab li.on {
    color: #2f2f2f;
    font-weight: 700;
    border-bottom: 2px solid #2f2f2f;
  }
  .reservation_state .sub_container .contents .mypage_reservation {
    width: 100%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list {
    width: 100%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li {
    width: 100%;
    display: flex;
    padding: 16px 0;
    border-bottom: 2px solid #EFEFEF;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li:nth-child(4) p {
    color: #AFAFAF;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5 {
    font-weight: 700;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5, .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p {
    font-size: 18px;
    color: #2f2f2f;
    text-align: center;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(1), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(1) {
    width: 25%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(2), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(2) {
    width: 15%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(3), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(3) {
    width: 10%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(4), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(4) {
    width: 25%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(5), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(5) {
    width: 25%;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel {
    width: 100%;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel h3 {
    margin: 60px 0 40px;
    font-size: 20px;
    font-weight: 700;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel table {
    width: 100%;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel table tr td {
    font-size: 16px;
    border: 1px solid #AFAFAF;
    padding: 20px 30px 20px 40px;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel table tr td:first-child {
    width: 30%;
    height: 80px;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel table tr td ul li {
    font-size: 16px;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel span {
    font-size: 14px;
    color: #AFAFAF;
    font-weight: 300;
    margin: 8px 4px;
    display: block;
  }
}
@media (max-width: 767px) {
  .reservation_state .sub_container .contents {
    padding: 16px;
  }
  .reservation_state .sub_container .contents ul.tab {
    width: 100%;
    height: 32px;
    line-height: 32px;
    display: flex;
    border-bottom: 1px solid #afafaf;
  }
  .reservation_state .sub_container .contents ul.tab li {
    width: 100px;
    font-size: 18px;
    color: #afafaf;
    padding: 4px 12px;
    text-align: center;
    cursor: pointer;
  }
  .reservation_state .sub_container .contents ul.tab li.on {
    color: #2f2f2f;
    font-weight: 700;
    border-bottom: 2px solid #2f2f2f;
  }
  .reservation_state .sub_container .contents .mypage_reservation {
    width: 100%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list {
    width: 100%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li {
    width: 100%;
    display: flex;
    padding: 16px 0;
    border-bottom: 2px solid #EFEFEF;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li:nth-child(4) p {
    color: #AFAFAF;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5 {
    font-weight: 700;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5, .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p {
    font-size: 16px;
    color: #2f2f2f;
    text-align: center;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(1), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(1) {
    width: 25%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(2), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(2) {
    width: 15%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(3), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(3) {
    width: 10%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(4), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(4) {
    width: 25%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(5), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(5) {
    width: 25%;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel {
    width: 100%;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel h3 {
    margin: 40px 0 20px;
    font-size: 16px;
    font-weight: 700;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel table {
    width: 100%;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel table tr td {
    font-size: 16px;
    border: 1px solid #AFAFAF;
    padding: 20px 40px;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel table tr td:first-child {
    width: 30%;
    height: 40px;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel table tr td ul li {
    font-size: 14px;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel span {
    font-size: 12px;
    color: #AFAFAF;
    font-weight: 300;
    margin: 8px 4px;
    display: block;
  }
}
@media (max-width: 479px) {
  .reservation_state .sub_container .contents {
    padding: 16px;
  }
  .reservation_state .sub_container .contents ul.tab {
    width: 100%;
    height: 32px;
    line-height: 32px;
    display: flex;
    border-bottom: 1px solid #afafaf;
  }
  .reservation_state .sub_container .contents ul.tab li {
    width: 100px;
    font-size: 18px;
    color: #afafaf;
    padding: 4px 12px;
    text-align: center;
    cursor: pointer;
  }
  .reservation_state .sub_container .contents ul.tab li.on {
    color: #2f2f2f;
    font-weight: 700;
    border-bottom: 2px solid #2f2f2f;
  }
  .reservation_state .sub_container .contents .mypage_reservation {
    width: 100%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list {
    width: 100%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li {
    width: 100%;
    display: flex;
    padding: 12px 0;
    border-bottom: 1px solid #EFEFEF;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li:nth-child(4) p {
    color: #AFAFAF;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5 {
    font-weight: 700;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5, .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p {
    font-size: 14px;
    color: #2f2f2f;
    text-align: center;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(1), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(1) {
    width: 25%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(2), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(2) {
    width: 15%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(3), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(3) {
    width: 10%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(4), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(4) {
    width: 25%;
  }
  .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(5), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(5) {
    width: 25%;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel {
    width: 100%;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel h3 {
    margin: 36px 0 16px;
    font-size: 14px;
    font-weight: 700;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel table {
    width: 100%;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel table tr td {
    font-size: 14px;
    border: 1px solid #AFAFAF;
    padding: 12px 16px;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel table tr td:first-child {
    width: 30%;
    height: 40px;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel table tr td ul li {
    font-size: 12px;
  }
  .reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel span {
    font-size: 12px;
    color: #AFAFAF;
    font-weight: 300;
    margin: 4px;
    display: block;
  }
}