@import "./_res-login";


// 마이페이지
.mypage{
    .sub_top{
        background: url("../img/img_sub_mypage.jpg") no-repeat center / cover;
        .dim{
            background-color: rgba(0,0,0,0.3);
        }
    }
    .sub_container{
        .contents{
            width: 100%;
            .mypage_wrap{
                .mypage_tap_wrap{
                    width: 100%;
                }
                .tab_cont{
                    width: 100%;
                    div{
                        display: none;
                        &.on{
                            display: block;
                        }
                    }
                    .mypage_info{
                        width: 100%;
                        padding: 40px 24px;
                        position: relative;
                        .mypage_info_input{
                            li{
                                ul{
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 16px;
                                    &.email_ul, &.name_ul{
                                        .checkbox_wrap{
                                            width: 330px;
                                            height: 40px;
                                            border: none;
                                            padding: 0px 40px;
                                            overflow: visible;
                                            span{
                                                font-size: 16px;
                                                color: #afafaf;
                                            }
                                            .checkbox,label{
                                                display: flex;
                                                border: none;
                                                background-color: transparent;
                                            }
                                            label{
                                                width: 330px;
                                            }
                                        }
                                    }
                                    &.phone_ul, &.birth_ul, &.coupon_ul{
                                        padding-bottom: 16px;
                                        border-bottom: 2px solid #efefef;
                                    } 
                                    p{
                                        width: 170px;
                                        font-size: 20px;
                                        color: #2f2f2f;
                                    }
                                    li{
                                        @include inputbox;
                                        &.email_box{
                                            border-radius: 8px;
                                            label{background-image: url(../img/icon/icon_mail_grey.svg)}
                                            input{background-color: #EFEFEF;}
                                        }
                                        &.pw_box{
                                            label{background-image: url(../img/icon/icon_lock.svg)}
                                        }
                                        &.pw_check_box{
                                            label{background-image: url(../img/icon/icon_lock.svg)}
                                        }
                                        &.name_box{
                                            label{background-image: url(../img/icon/icon_person.svg)}
                                        }
                                        &.phone_box{
                                            label{background-image: url(../img/icon/icon_phone.svg)}
                                        }
                                        &.birth_box{
                                            label{background-image: url(../img/icon/icon_calendar.svg)}
                                        }
                                        &.coupon_box{
                                            input{
                                                width: 116px;
                                                height: 36px;
                                                line-height: 36px;
                                                padding: 2px 0;
                                                font-size: 16px;
                                                background-color: #357EF1;
                                                border: none;
                                                border-radius: 8px;
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .mypage_info_btn{
                            width: 100%;
                            display: block;
                            text-align: center;
                            margin-top: 104px;
                            button{
                                width: 249px;
                                height: 46px;
                                border-radius: 8px;
                            }
                            .mypage_info_fix_btn{
                                background-color: #357EF1;
                                border: none;
                                margin-right: 12px;
                                a{
                                    color: #fff; 
                                    font-size: 18px;
                                }
                            }
                            .mypage_info_cancel_btn{
                                border: 1px solid #AFAFAF;
                                a{
                                    color: #2f2f2f;
                                    font-size: 18px;
                                }
                            }
                        }
                        .mypage_info_member_delete{
                            width: 80px;
                            height: 20px;
                            display: block;
                            position: absolute;
                            right: 24px;
                            .mypage_info_member_delete_btn{
                                a{
                                    color: #afafaf;
                                    border-bottom: 1px solid #afafaf;
                                    font-size: 16px;
                                    padding: 2px;
                                }
                            }           
                        }
                    }
                    .mypage_reservation{
                        width: 100%;
                        table.mypage_reservation_list{
                            width: 100%;
                            tr{
                                width: 100%;
                                display: flex;
                                padding: 24px 0;
                                border-bottom: 2px solid #EFEFEF;
                                &:nth-child(4){
                                    td{
                                        color: #AFAFAF;
                                    }
                                }
                                th{
                                    font-weight: 700;
                                }
                                th,td{
                                    font-size: 20px;
                                    color: #2f2f2f;
                                    text-align: center;
                                    &:nth-child(1){width: 25%; padding-right: 10px;}
                                    &:nth-child(2){width: 15%;}
                                    &:nth-child(3){width: 10%;}
                                    &:nth-child(4){width: 25%;}
                                    &:nth-child(5){width: 25%;}
                                }
                            }
                        }
                        .mypage_reservation_cancel{
                            width: 100%;
                            h3{
                                margin: 60px 0;
                                font-size: 24px;
                                font-weight: 700;
                            }
                            table{
                                width: 100%;
                                tr{
                                    th{
                                        width: 420px;
                                        height: 80px;
                                        font-size: 20px;
                                        border: 1px solid #AFAFAF;
                                        padding: 30px 0 30px 40px;
                                        text-align: left;
                                    }
                                    td{
                                        border: 1px solid #AFAFAF;
                                        padding: 30px 0 30px 80px;
                                        ul{
                                            li{
                                                font-size: 16px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




@import "./res-mypage";