.mypage .sub_top {
  background: url("../img/img_sub_mypage.jpg") no-repeat;
}
.mypage .sub_top .dim {
  background-color: rgba(0, 0, 0, 0.3);
}
.mypage .sub_container .contents {
  width: 100%;
}
.mypage .sub_container .contents .mypage_wrap .mypage_tap_wrap {
  width: 100%;
}
.mypage .sub_container .contents .mypage_wrap .mypage_tap_wrap ul.tab {
  width: 100%;
  height: 60px;
  display: flex;
  border-bottom: 1px solid #afafaf;
}
.mypage .sub_container .contents .mypage_wrap .mypage_tap_wrap ul.tab li {
  width: 140px;
  font-size: 24px;
  color: #afafaf;
  padding: 8px 16px;
  text-align: center;
  cursor: pointer;
}
.mypage .sub_container .contents .mypage_wrap .mypage_tap_wrap ul.tab li.on {
  color: #2f2f2f;
  font-weight: 700;
  border-bottom: 4px solid #2f2f2f;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont {
  width: 100%;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info {
  width: 100%;
  margin: 40px 24px;
  position: relative;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li.email_box div input:not(.mypage_info_input_agree_box > input) {
  background-color: #EFEFEF;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li.email_box div::before {
  background: url("../img/icon/icon_mail_grey.svg") no-repeat center;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li.pw_box div::before {
  background: url("../img/icon/icon_lock.svg") no-repeat center;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li.pw_confirm_box div::before {
  background: url("../img/icon/icon_lock.svg") no-repeat center;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li.name_box div::before {
  background: url("../img/icon/icon_person.svg") no-repeat center;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li.phone_box {
  border-bottom: 2px solid #efefef;
  padding-bottom: 16px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li.phone_box div::before {
  background: url("../img/icon/icon_phone.svg") no-repeat center;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li.birth_box {
  border-bottom: 2px solid #efefef;
  padding-bottom: 16px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li.birth_box div::before {
  background: url("../img/icon/icon_calendar.svg") no-repeat center;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li.coupon_box {
  border-bottom: 2px solid #efefef;
  padding-bottom: 16px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li.coupon_box div input {
  width: 116px;
  height: 36px;
  font-size: 16px;
  background-color: #357EF1;
  border: none;
  border-radius: 8px;
  color: #fff;
  text-align: center;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li label {
  width: 170px;
  font-size: 20px;
  color: #2f2f2f;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li .mypage_info_input_box {
  position: relative;
  display: flex;
  align-items: center;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li .mypage_info_input_box input {
  width: 480px;
  height: 52px;
  border: 1px solid #afafaf;
  border-radius: 8px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li .mypage_info_input_box input::placeholder {
  padding-left: 48px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li .mypage_info_input_box::before {
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
  left: 20px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li .mypage_info_input_agree_box {
  margin-left: 40px;
  padding: 16px 0;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li .mypage_info_input_agree_box input {
  width: 16px;
  height: 16px;
  border: 1px solid #AFAFAF;
  background-color: #fff;
  border-radius: 4px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_input li .mypage_info_input_agree_box label {
  font-size: 16px;
  color: #afafaf;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_btn {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 104px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_btn button {
  width: 249px;
  height: 46px;
  border-radius: 8px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_btn .mypage_info_fix_btn {
  background-color: #357EF1;
  border: none;
  margin-right: 12px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_btn .mypage_info_fix_btn a {
  color: #fff;
  font-size: 18px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_btn .mypage_info_cancel_btn {
  border: 1px solid #AFAFAF;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_btn .mypage_info_cancel_btn a {
  color: #2f2f2f;
  font-size: 18px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_member_delete {
  width: 60px;
  height: 20px;
  right: 8px;
  border-bottom: 1px solid #afafaf;
  position: absolute;
  right: 24px;
}
.mypage .sub_container .contents .mypage_wrap .tab_cont .mypage_info .mypage_info_member_delete .mypage_info_member_delete_btn a {
  color: #afafaf;
  font-size: 16px;
}

.reservation_state .sub_top {
  background: url("../img/img_sub_mypage.jpg") no-repeat;
}
.reservation_state .sub_top .dim {
  background-color: rgba(0, 0, 0, 0.3);
}
.reservation_state .sub_container .contents ul.tab {
  width: 100%;
  height: 60px;
  display: flex;
  border-bottom: 1px solid #afafaf;
}
.reservation_state .sub_container .contents ul.tab li {
  width: 140px;
  font-size: 24px;
  color: #afafaf;
  padding: 8px 16px;
  text-align: center;
  cursor: pointer;
}
.reservation_state .sub_container .contents ul.tab li.on {
  color: #2f2f2f;
  font-weight: 700;
  border-bottom: 4px solid #2f2f2f;
}
.reservation_state .sub_container .contents .mypage_reservation {
  width: 100%;
}
.reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list {
  width: 100%;
}
.reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li {
  width: 100%;
  display: flex;
  padding: 24px 0;
  border-bottom: 2px solid #EFEFEF;
}
.reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li:nth-child(4) p {
  color: #AFAFAF;
}
.reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5 {
  font-weight: 700;
}
.reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5, .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p {
  font-size: 20px;
  color: #2f2f2f;
  text-align: center;
}
.reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(1), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(1) {
  width: 320px;
}
.reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(2), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(2) {
  width: 180px;
}
.reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(3), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(3) {
  width: 180px;
}
.reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(4), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(4) {
  width: 340px;
}
.reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li h5:nth-child(5), .reservation_state .sub_container .contents .mypage_reservation ul.mypage_reservation_list li p:nth-child(5) {
  width: 330px;
}
.reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel {
  width: 100%;
}
.reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel h3 {
  margin: 60px 0;
  font-size: 24px;
  font-weight: 700;
}
.reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel table {
  width: 100%;
}
.reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel table tr td {
  font-size: 20px;
  border: 1px solid #AFAFAF;
  padding: 30px 0 30px 80px;
}
.reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel table tr td:first-child {
  width: 420px;
  height: 80px;
}
.reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel table tr td ul li {
  font-size: 16px;
}
.reservation_state .sub_container .contents .mypage_reservation .mypage_reservation_cancel span {
  font-size: 16px;
  color: #AFAFAF;
  font-weight: 300;
  margin: 16px 8px;
  display: block;
}