.policy_service .sub_top {
  background: url("../img/img_sub_policy.jpg") no-repeat;
}
.policy_service .sub_top .dim {
  background-color: rgba(0, 0, 0, 0.4);
}
.policy_service .sub_container .contents {
  width: 100%;
}
.policy_service .sub_container .contents .service_wrap {
  width: 100%;
}
.policy_service .sub_container .contents .service_wrap .service_article .service_article_tit {
  margin-bottom: 16px;
}
.policy_service .sub_container .contents .service_wrap .service_article .service_article_tit h3 {
  font-size: 20px;
  font-weight: 600;
  color: #2f2f2f;
}
.policy_service .sub_container .contents .service_wrap .service_article_txt {
  margin: 16px 36px 32px;
}
.policy_service .sub_container .contents .service_wrap .service_article_txt ul {
  padding: 16px;
  border: 1px solid #AFAFAF;
}
.policy_service .sub_container .contents .service_wrap .service_article_txt ul li {
  font-size: 16px;
  color: #2f2f2f;
}

.policy_privacy .sub_top {
  background: url("../img/img_sub_policy.jpg") no-repeat;
}
.policy_privacy .sub_top .dim {
  background-color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 1499px) {
  .policy_service .sub_container {
    width: 100%;
  }
  .policy_service .sub_container .contents {
    padding: 32px;
  }
  .policy_service .sub_container .contents .service_wrap {
    width: 100%;
  }
  .policy_service .sub_container .contents .service_wrap .service_article .service_article_tit {
    margin-bottom: 16px;
  }
  .policy_service .sub_container .contents .service_wrap .service_article .service_article_tit h3 {
    font-size: 20px;
  }
  .policy_service .sub_container .contents .service_wrap .service_article_txt {
    margin: 16px 36px 32px;
  }
  .policy_service .sub_container .contents .service_wrap .service_article_txt ul {
    padding: 16px;
  }
  .policy_service .sub_container .contents .service_wrap .service_article_txt ul li {
    font-size: 16px;
  }
}
@media (max-width: 1279px) {
  .policy_service .sub_container {
    width: 100%;
  }
  .policy_service .sub_container .contents {
    padding: 32px;
  }
  .policy_service .sub_container .contents .service_wrap {
    width: 100%;
  }
  .policy_service .sub_container .contents .service_wrap .service_article .service_article_tit {
    margin-bottom: 12px;
  }
  .policy_service .sub_container .contents .service_wrap .service_article .service_article_tit h3 {
    font-size: 18px;
  }
  .policy_service .sub_container .contents .service_wrap .service_article_txt {
    margin: 16px 36px 32px;
  }
  .policy_service .sub_container .contents .service_wrap .service_article_txt ul {
    padding: 12px;
  }
  .policy_service .sub_container .contents .service_wrap .service_article_txt ul li {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .policy_service .sub_container .contents {
    padding: 16px;
  }
  .policy_service .sub_container .contents .service_wrap .service_article .service_article_tit {
    margin-bottom: 4px;
  }
  .policy_service .sub_container .contents .service_wrap .service_article .service_article_tit h3 {
    font-size: 16px;
  }
  .policy_service .sub_container .contents .service_wrap .service_article_txt {
    margin: 12px 0 24px;
  }
  .policy_service .sub_container .contents .service_wrap .service_article_txt ul li {
    font-size: 14px;
  }
}
@media (max-width: 479px) {
  .policy_service .sub_container .contents {
    padding: 16px;
  }
  .policy_service .sub_container .contents .service_wrap .service_article .service_article_tit {
    margin-bottom: 0px;
  }
  .policy_service .sub_container .contents .service_wrap .service_article .service_article_tit h3 {
    font-size: 14px;
  }
  .policy_service .sub_container .contents .service_wrap .service_article_txt {
    margin: 8px 0 16px;
  }
  .policy_service .sub_container .contents .service_wrap .service_article_txt ul {
    padding: 8px;
  }
  .policy_service .sub_container .contents .service_wrap .service_article_txt ul li {
    font-size: 12px;
  }
}