// 이용약관
.policy_service {
    .sub_top{
        background: url("../img/img_sub_policy.jpg") no-repeat;
        .dim{
            background-color: rgba(0,0,0,0.4);
        }
    }
    .sub_container {
        .contents {
            width: 100%;
            .service_wrap{
                width: 100%;
                .service_article{
                    .service_article_tit{
                        margin-bottom: 16px;
                        h3{
                            font-size: 20px;
                            font-weight: 600;
                            color: #2f2f2f;
                        }
                    }
                }
                .service_article_txt{
                    margin: 16px 36px 32px;
                    ul{
                        padding: 16px;
                        border: 1px solid #AFAFAF;
                        li{
                            font-size: 16px;
                            color: #2f2f2f;
                        }
                    }
                }
            }
        }
    }
}
// 개인정보처리방침
.policy_privacy {
    .sub_top{
        background: url("../img/img_sub_policy.jpg") no-repeat;
        .dim{background-color: rgba(0,0,0,0.4);}
    }
    .sub_container {
        .contents {
        }
    }
}

@import "./res-policy";