@keyframes contentsbox {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.sub .sub_top {
  width: 100%;
  height: 500px;
  background: url("../img/img_sub2_room_header.jpg") no-repeat center/cover;
  position: relative;
}
.sub .breadcrumb {
  width: 1400px;
  height: 64px;
  padding: 16px 32px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: -32px;
  transform: translateX(-50%);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.05);
  z-index: 11;
}
.sub .breadcrumb ul {
  display: flex;
  align-items: center;
}
.sub .breadcrumb ul li {
  display: flex;
  align-items: center;
}
.sub .breadcrumb ul li:first-of-type::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 4px;
  background: url("../img/icon/icon_home.svg") no-repeat center;
}
.sub .breadcrumb ul li:not(:first-of-type) {
  color: #afafaf;
}
.sub .breadcrumb ul li:not(:first-of-type)::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 16px;
  background: url("../img/icon/icon_arrow.svg") no-repeat center/15px;
}
.sub .breadcrumb ul li a {
  font-size: 14px;
}
.sub .on .love_you_a {
  color: #2f2f2f;
  font-weight: 700;
}
.sub .contents {
  width: 100%;
  opacity: 1;
  animation: contentsbox 2s cubic-bezier(0, 0.92, 0.275, 0.98) normal;
  position: relative;
}
.sub .contents .main_box {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 68px;
}
.sub .contents .main_box .room_content {
  width: 100%;
}
.sub .contents .main_box .room_content .main_box2 {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: "";
}
.sub .contents .main_box .room_content .main_box2:not(:last-of-type) {
  border-bottom: 1px solid #efefef;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.sub .contents .main_box .room_content .main_box2 .love_you_list {
  width: calc(100% - 570px);
  height: calc(100% - 6px);
  margin: 0;
}
.sub .contents .main_box .all_text {
  width: calc(100% - 1102px);
  margin-top: 114px;
  margin-left: 72px;
}
.sub .contents .main_box .all_text h3 {
  font-size: 24px;
  font-weight: bold;
}
.sub .contents .main_box .all_text li {
  display: flex;
}
.sub .contents .main_box .all_text p:nth-of-type(1) {
  font-weight: bold;
  margin-top: 8px;
}
.sub .contents .main_box .all_text p:nth-of-type(2) {
  margin-left: 32px;
  margin-top: 8px;
}
.sub .contents .main_box button {
  margin-top: 48px;
  border: 1px solid #2f2f2f;
  padding: 17.5px 46.5px;
  border-radius: 12px;
  transition: 0.5s;
}
.sub .contents .main_box button:hover {
  background-color: #9ABEF8;
}
.sub .contents .main_box .contour3 {
  width: 1400px;
  height: 2px;
  background-color: #efefef;
  margin-top: 40px;
}
.sub .contents .room_info_amenities {
  width: 100%;
  padding: 60px;
  background-color: #efefef;
  border-radius: 20px;
  margin-top: 80px;
}
.sub .contents .room_info_amenities h2 {
  font-size: 24px;
  font-weight: bold;
}
.sub .contents .room_info_amenities .bar1 {
  width: calc(100% - 144px);
  height: 2px;
  background-color: #afafaf;
  border-radius: 1px;
  margin-top: 32px;
}
.sub .contents .room_info_amenities .icon_box {
  width: calc(100% - 280px);
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}
.sub .contents .room_info_amenities .icon_box .vector_icon {
  width: 40px;
  height: 64px;
}
.sub .contents .room_info_amenities .icon_box .vector_icon p {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.sub .contents .room_info_amenities .icon_box .vector_icon p img {
  width: 100%;
}
.sub .contents .room_info_amenities .icon_box .vector_icon span {
  text-align: center;
  display: block;
  padding-top: 4px;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(2) {
  width: 82px;
  height: 64px;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(2) p {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(2) p img {
  width: 100%;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(2) span {
  text-align: center;
  display: block;
  font-size: 14px;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(3) {
  width: 60px;
  height: 64px;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(3) p {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(3) p img {
  width: 100%;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(3) span {
  text-align: center;
  display: block;
  font-size: "";
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(4) {
  width: 65px;
  height: 61px;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(4) p {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(4) p img {
  width: 100%;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(4) span {
  text-align: center;
  display: block;
  font-size: 14px;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(5) {
  width: 40px;
  height: 64px;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(5) p {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(5) p img {
  width: 100%;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(5) span {
  text-align: center;
  display: block;
  font-size: "";
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(6) {
  width: 60px;
  height: 64px;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(6) p {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(6) p img {
  width: 100%;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(6) span {
  text-align: center;
  display: block;
  font-size: "";
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(7) {
  width: 46px;
  height: 64px;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(7) p {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(7) p img {
  width: 100%;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(7) span {
  text-align: center;
  display: block;
  font-size: "";
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(8) {
  width: 46px;
  height: 64px;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(8) p {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(8) p img {
  width: 100%;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(8) span {
  text-align: center;
  display: block;
  font-size: "";
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(9) {
  width: 48px;
  height: 64px;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(9) p {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(9) p img {
  width: 100%;
}
.sub .contents .room_info_amenities .icon_box .vector_icon:nth-child(9) span {
  text-align: center;
  display: block;
  font-size: "";
}
.sub .caution {
  width: 100%;
  height: 100%;
  background-color: #efefef;
  border-radius: 20px;
  margin-top: 16px;
  padding: 60px;
}
.sub .caution h2 {
  font-weight: bold;
  font-size: 24px;
}
.sub .caution .text_flexbox {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  margin-top: 24px;
  width: 100%;
}
.sub .caution .text_flexbox p {
  font-size: 20px;
}
.sub .caution .text_flexbox p b {
  font-size: 20px;
  font-weight: bold;
}
.sub .caution .text_flexbox p:nth-child(2) {
  font-size: 20px;
  margin-top: 12px;
}
.sub .caution .text_flexbox p:nth-child(2) b {
  font-size: 20px;
  font-weight: bold;
}
.sub .caution .text_flexbox .white-space {
  font-size: 20px;
  white-space: nowrap;
}
.sub .caution .text_flexbox .white-space p:nth-child(2) {
  margin-top: 12px;
}

@media (max-width: 1279px) {
  .sub {
    padding: 0 16px;
  }
  .sub .contents .main_box .room_content .main_box2 .love_you_list {
    width: 100%;
  }
  .sub .contents .main_box .all_text {
    width: calc(100% - 600px);
  }
  .sub .contents .caution .text_flexbox {
    display: block;
  }
  .sub .contents .caution .text_flexbox p {
    margin-top: 8px;
  }
  .sub .contents .caution .text_flexbox .white-space {
    margin-top: 8px;
  }
  .sub .contents .caution .text_flexbox .white-space p {
    margin-top: 8px;
  }
}
@media (max-width: 1047px) {
  .sub {
    padding: 0 16px;
  }
  .sub .contents .main_box .room_content .main_box2 {
    flex-wrap: wrap;
  }
  .sub .contents .main_box .room_content .main_box2 .love_you_list {
    width: 100%;
  }
  .sub .contents .main_box .all_text {
    width: calc(100% - 500px);
    margin: 30px;
  }
  .sub .contents .room_info_amenities {
    width: 100%;
  }
  .sub .contents .room_info_amenities .bar1 {
    width: 100%;
  }
  .sub .contents .room_info_amenities .icon_box {
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;
  }
  .sub .contents .caution .text_flexbox {
    display: block;
    white-space: normal;
  }
  .sub .contents .caution .text_flexbox p {
    font-size: 16px;
    margin-top: 8px;
  }
  .sub .contents .caution .text_flexbox p b {
    font-size: 16px;
  }
  .sub .contents .caution .text_flexbox .white-space {
    white-space: normal;
  }
  .sub .contents .caution .text_flexbox .white-space p, .sub .contents .caution .text_flexbox .white-space b {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .sub {
    padding: 0 16px;
  }
  .sub .contents .main_box .room_content .main_box2 {
    flex-wrap: wrap;
  }
  .sub .contents .main_box .room_content .main_box2 .love_you_list {
    width: 100%;
  }
  .sub .contents .main_box .all_text {
    width: 100%;
    margin: 30px;
  }
  .sub .contents .room_info_amenities {
    width: 100%;
  }
  .sub .contents .room_info_amenities .bar1 {
    width: 100%;
  }
  .sub .contents .room_info_amenities .icon_box {
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;
  }
  .sub .contents .caution .text_flexbox {
    display: block;
    white-space: normal;
  }
  .sub .contents .caution .text_flexbox p {
    font-size: 16px;
    margin-top: 8px;
  }
  .sub .contents .caution .text_flexbox p b {
    font-size: 16px;
  }
  .sub .contents .caution .text_flexbox .white-space {
    white-space: normal;
  }
  .sub .contents .caution .text_flexbox .white-space p, .sub .contents .caution .text_flexbox .white-space b {
    font-size: 16px;
    margin-top: 8px;
  }
}
@media (max-width: 480px) {
  .sub {
    padding: 0 16px;
  }
  .sub .contents .main_box .room_content .main_box2 {
    flex-wrap: wrap;
  }
  .sub .contents .main_box .room_content .main_box2 .love_you_list {
    width: 100%;
  }
  .sub .contents .main_box .all_text {
    width: 100%;
    margin: 30px;
  }
  .sub .contents .room_info_amenities {
    width: 100%;
    height: 550px;
  }
  .sub .contents .room_info_amenities .bar1 {
    width: 100%;
  }
  .sub .contents .room_info_amenities .icon_box {
    width: 100%;
    gap: 50px;
    flex-wrap: wrap;
  }
  .sub .contents .caution .text_flexbox {
    display: block;
    white-space: normal;
  }
  .sub .contents .caution .text_flexbox p {
    font-size: 16px;
    margin-top: 8px;
  }
  .sub .contents .caution .text_flexbox p b {
    font-size: 16px;
  }
  .sub .contents .caution .text_flexbox .white-space {
    white-space: normal;
  }
  .sub .contents .caution .text_flexbox .white-space p, .sub .contents .caution .text_flexbox .white-space b {
    font-size: 16px;
  }
}