@charset "UTF-8";
/* 분기점 
1280~1500: pc   pc-s
768~1279: 태블릿    tab
481~767: 모바일라지     mo-l
~480: 모바일    mo-s
*/
/* 변동사항(확인 후 삭제하셔도 됩니다!)--------------------------------------
pc-s: 없음
tab(노랑): 
 - .txt_long p의 우측패딩값 120->80px으로 변경, 나머지는 pc-s와 동일
mo-l(초록):
 - 기본 컨텐츠 좌우 패딩 16px
 - .card_name(제목): 세로정렬, 폰트 크기 24->20px
 - .card_img(사진): 세로정렬, width 50->100%, 간격 20->16px
 - .card_txt(글): 
        ㄴ.txt_short(아이콘+텍스트) : 세로정렬, 패딩 절반으로, 마진 변경
        ㄴ.txt_long(설명 텍스트) : 세로정렬, 패딩 변경
mo-s(파랑): mo-l와 동일
*/
/*↑↑↑↑↑↑↑↑↑상단 나중에 작업 완료 후 삭제↑↑↑↑↑↑↑↑↑↑↑*/
@media (max-width: 1279px) {
  body .around_spot .sub_container .contents .sub4_card .card_txt .txt_long p {
    padding: 40px 80px 40px 32px;
  }
}
@media (max-width: 767px) {
  body .around_spot .sub_container .contents .sub4_card .card_name {
    flex-direction: column;
  }
  body .around_spot .sub_container .contents .sub4_card .card_name strong {
    margin: 0;
    font-size: 20px;
  }
  body .around_spot .sub_container .contents .sub4_card .card_name p {
    font-size: 20px;
  }
  body .around_spot .sub_container .contents .sub4_card .card_img {
    margin: 16px 0;
    gap: 16px;
    flex-direction: column;
  }
  body .around_spot .sub_container .contents .sub4_card .card_img .imgbox {
    width: 100%;
  }
  body .around_spot .sub_container .contents .sub4_card .card_txt .txt_short {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
  }
  body .around_spot .sub_container .contents .sub4_card .card_txt .txt_short li {
    padding: 8px;
  }
  body .around_spot .sub_container .contents .sub4_card .card_txt .txt_short li:not(:last-of-type) {
    margin: 0;
  }
  body .around_spot .sub_container .contents .sub4_card .card_txt .txt_long p {
    padding: 24px;
  }
}
.around_spot img {
  vertical-align: middle;
}
.around_spot .sub_top {
  background-image: url("../img/img_sub4_tops.jpg");
}
.around_spot .sub_container .contents .sub4_card:not(:last-of-type) {
  margin-bottom: 72px;
}
.around_spot .sub_container .contents .sub4_card .card_name {
  display: flex;
}
.around_spot .sub_container .contents .sub4_card .card_name strong {
  margin-right: 4px;
  font-weight: 700;
  font-size: 24px;
}
.around_spot .sub_container .contents .sub4_card .card_name .card_name_eng {
  display: flex;
  align-items: center;
}
.around_spot .sub_container .contents .sub4_card .card_name p {
  margin-right: 8px;
  font-size: 24px;
}
.around_spot .sub_container .contents .sub4_card .card_img {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.around_spot .sub_container .contents .sub4_card .card_img .imgbox {
  width: 50%;
  border-radius: 20px;
  overflow: hidden;
}
.around_spot .sub_container .contents .sub4_card .card_txt {
  border: 1px solid #efefef;
  border-radius: 20px;
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_short {
  padding: 24px 32px;
  display: flex;
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_short li {
  text-align: center;
  display: flex;
  align-items: center;
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_short li:not(:last-of-type) {
  margin-right: 32px;
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_short li::before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 8px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_short li:nth-of-type(1)::before {
  background-image: url("../img/icon/icon_car_black.svg");
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_short li:nth-of-type(2)::before {
  background-image: url("../img/icon/icon_location.svg");
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_short li:nth-of-type(3)::before {
  background-image: url("../img/icon/icon_tel.svg");
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_long p {
  padding: 40px 120px 40px 32px;
  border-top: 1px solid #efefef;
  line-height: 24px;
}