.around_spot .sub_top {
  background-image: url("../img/img_sub4_tops.jpg");
}
.around_spot .sub_container .contents .sub4_card {
  padding-bottom: 72px;
}
.around_spot .sub_container .contents .sub4_card .card_name {
  display: flex;
  font-size: 24px;
}
.around_spot .sub_container .contents .sub4_card .card_name strong {
  font-weight: 700;
  margin-right: 4px;
  font-size: 24px;
}
.around_spot .sub_container .contents .sub4_card .card_name p {
  margin-right: 8px;
  font-size: 24px;
}
.around_spot .sub_container .contents .sub4_card .card_name a img {
  width: 100%;
}
.around_spot .sub_container .contents .sub4_card .card_img {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.around_spot .sub_container .contents .sub4_card .card_img .imgbox {
  width: 690px;
  height: 570px;
  border-radius: 20px;
  overflow: hidden;
}
.around_spot .sub_container .contents .sub4_card .card_img .imgbox img {
  width: 100%;
}
.around_spot .sub_container .contents .sub4_card .card_txt {
  border: 1px solid #efefef;
  border-radius: 20px;
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_short {
  padding: 24px 32px;
  display: flex;
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_short li {
  margin-right: 32px;
  text-align: center;
  display: flex;
  align-items: center;
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_short li::before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 8px;
  background-size: contain;
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_short li:nth-of-type(1)::before {
  background-image: url("../img/icon/icon_car_2f2f2f.svg");
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_short li:nth-of-type(2)::before {
  background-image: url("../img/icon/icon_location.svg");
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_short li:nth-of-type(3)::before {
  background-image: url("../img/icon/icon_tel.svg");
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_long p {
  padding: 40px 32px;
  border-top: 1px solid #efefef;
  line-height: 24px;
}