@charset "UTF-8";
.around_spot .sub_top {
  background-image: url("../img/img_sub4_tops.jpg");
}
.around_spot .sub_container {
  max-width: 100%;
}
.around_spot .sub_container .contents .sub4_card {
  margin-bottom: 72px;
}
.around_spot .sub_container .contents .sub4_card .card_name {
  display: flex;
  font-size: 24px;
}
.around_spot .sub_container .contents .sub4_card .card_name .card_name_eng {
  display: flex;
}
.around_spot .sub_container .contents .sub4_card .card_name strong {
  font-weight: 700;
  margin-right: 4px;
  font-size: 24px;
}
.around_spot .sub_container .contents .sub4_card .card_name p {
  margin-right: 8px;
  font-size: 24px;
}
.around_spot .sub_container .contents .sub4_card .card_name a img {
  width: 100%;
}
.around_spot .sub_container .contents .sub4_card .card_img {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.around_spot .sub_container .contents .sub4_card .card_img .imgbox {
  width: 50%;
  border-radius: 20px;
  overflow: hidden;
}
.around_spot .sub_container .contents .sub4_card .card_img .imgbox img {
  width: 100%;
}
.around_spot .sub_container .contents .sub4_card .card_txt {
  border: 1px solid #efefef;
  border-radius: 20px;
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_short {
  padding: 24px 32px;
  display: flex;
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_short li {
  margin-right: 32px;
  text-align: center;
  display: flex;
  align-items: center;
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_short li::before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 8px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_short li:nth-of-type(1)::before {
  background-image: url("../img/icon/icon_car_black.svg");
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_short li:nth-of-type(2)::before {
  background-image: url("../img/icon/icon_location.svg");
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_short li:nth-of-type(3)::before {
  background-image: url("../img/icon/icon_tel.svg");
}
.around_spot .sub_container .contents .sub4_card .card_txt .txt_long p {
  padding: 40px 32px;
  border-top: 1px solid #efefef;
  line-height: 24px;
}
.around_spot .sub_container .contents .sub4_card:nth-of-type(6) {
  margin-bottom: 0;
}

/** 분기점 
360~767: 모바일
768~1023: 중간
1024~1399: 태블릿
1400~: pc
*/
@media screen and (max-width: 480px) {
  body {
    background-color: aqua;
  }
  body .around_spot .card_name {
    flex-direction: column;
  }
  body .around_spot .card_name .card_name_eng {
    display: flex;
  }
  body .around_spot .card_img {
    width: 100%;
    margin: 20px 0;
    justify-content: center;
    flex-direction: column;
  }
  body .around_spot .card_img .imgbox {
    width: 100%;
  }
  body .around_spot .card_txt {
    border: 0px;
  }
  body .around_spot .card_txt .txt_short {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
  }
  body .around_spot .card_txt .txt_short li {
    margin: 8px;
  }
  body .around_spot .card_txt .txt_short li::before {
    content: "";
    width: 12px;
    height: 12px;
    margin-right: 8px;
  }
  body .around_spot .card_txt .txt_long p {
    padding: 20px 16px;
    border-top: 1px solid #efefef;
  }
  body .sub4_card:nth-of-type(6) {
    margin-bottom: 0;
  }
}