// community 공통
.community_common {
  .sub_container {
    .contents {
    }
  }
}
@mixin abc {
  padding: 0 12px;
  font-size: 20px;
  font-weight: bold;
}
// 공지사항
.notice {
  .sub_container {
    width: 1400px;
    margin: 0 auto;
    .contents {
      table {
        width: 100%;
        border-collapse: collapse;
        color: #2f2f2f;

        tr {
          width: auto;
        }

        th {
          &:nth-of-type(1) {
            width: 150px;
          }

          &:nth-of-type(3) {
            width: 200px;
          }
          background-color: rgba(154, 190, 248, 0.22);
          font-size: 22px;
          font-weight: 700;
          padding: 16px 54px;
        }

        td {
          padding: 20px;
          margin: 0 auto;
          font-size: 24px;
          border-top: solid 1px #d9d9d9;
          border-bottom: solid 1px #d9d9d9;

          &:nth-of-type(1) {
            text-align: center;
          }

          &:nth-of-type(2) {
            text-align: left;
          }
          &:nth-of-type(3) {
            text-align: center;
          }
        }
      }

      .pagination {
        width: 416px;
        height: 32px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-top: 120px;
        // 폰트조절
        a:nth-of-type(3),
        a:nth-of-type(4),
        a:nth-of-type(5),
        a:nth-of-type(6),
        a:nth-of-type(7) {
          @include abc();
        }
      }
    }
  }
}
// 공지사항 내용
.contents_notice {
  justify-items: end;
  .notice_inner_1 {
    text-align: center;
    padding-bottom: 64px;
    h2 {
      font-size: 40px;
      font-weight: bold;
      p {
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
  .notice_inner_2 {
    background-color: rgba(226, 226, 226, 0.26);
    padding-top: 64px;
    margin-bottom: 64px;
    padding: 32px 44px 44px;
    justify-items: center;
    .p {
      font-size: 20px;
    }
  }
  .notice_inner_3 {
    border: solid 1px #afafaf;
    table {
      width: 100%;
      tr {
        border-bottom: 1px solid #afafaf;
        &:last-child {
          border: none;
        }
      }
    }
    td:nth-of-type(1) {
      width: 80px;
    }
    td {
      padding: 15px 15px 15px 40px;
    }
  }
  .notice_list {
    margin: 80px auto;
    text-align: center;
  }
  .notice_list a {
    padding: 16px 68px;
    border: #357ef1;
    border-radius: 8px;
    background-color: #357ef1;
    color: white;
    font-size: 24px;
    display: inline-block;
  }
}

// faq
// faq는 별도로 inner로 빼지 않고, 일괄 작업 진행함. 
.faq {
  .sub_container {
    .contents {
      .sub5_community_faq {
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          list-style: none;
          padding-bottom: 56px;

          li {
            width: 200px;
            height: auto;
            margin: 0 16px; 
            padding: 12px 32px;
            border-radius: 50px;
            text-align: center;
            a{
              font-size: 28px;
              font-weight: 700;
            }   
          }

          li:nth-of-type(1) {
            border: solid 2px #357EF1;
            color: #357EF1;
          }
          li:nth-of-type(2) {
            border: solid 2px #00C400;
            color: #00C400;
          }
          li:nth-of-type(3) {
            border: solid 2px #8E40B7;
            color: #8E40B7;
          }
          li:nth-of-type(4) {
            border: solid 2px #FFB140;
            color: #FFB140;
          }
        }
        .abc{
          margin: 0px auto;
          align-items: center;
          text-align: center;
          font-size: 24px;
          padding-bottom: 65px;
          span {
            font-weight: bold;
            font-size: 24px;
            
          }
        }
      }
    }
  }
}

// 이용후기
.review {
  .sub_container {
    .contents {
    }
  }
}

// 상세 공통
.inner_common {
  .sub_container {
    .contents {
    }
  }
}
