// sub page
.sub {
  .sub_top {
    background: url("../img/img_event_05_2_header_02.jpg") no-repeat center / cover;
  }
}

//본문 시작
.align_box {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  gap: 80px 0;  

  li {width: 30%;
    a{
      display: block;

    .img_box {width: 100%;
      height: 100%;
      position: relative;
      .end_event {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: #2f2f2f;
        opacity: 0.6;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        display: none;

        &.active{
          display: flex;
        }
      }}


    .end_event_text {

      font-size: 40px;
      z-index: 2;
      color: white;
      font-weight: bold;
      opacity: 1;
    }

    .event_text_box {
      text-align: center;
      padding-top: 24px;

      p {
        font-size: 24px;
        font-weight: bold;
      }

      span {
        padding-top: 8px;
      }
    }
  }
}
}

// 이벤트 상세페이지

.title_sub {
  display: block;
  padding-top: 16px;
}

.sub5_event_inner_box {
  width: 100%;
  background-color: #e2e2e2;
  padding: 80px 235px;

  .sub5_event_inner_content {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    .sub5_img_box {
      width: 100%;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .sub5_text_box {
      background-color: rgba(226, 226, 226, 0.26);
      padding-top: 56px;
      justify-items: center;
    
      p {
        width: 100%;
        font-size: 20px;
      }
    }
  }
}

.sub5_button {
  width: 100%;
  height: 83.5px;
  border-top: 2px solid #afafaf;
  border-bottom: 2px solid #efefef;
  margin-top: 80px;

  &:nth-of-type(3) {
    height: 55.5px;
    border-bottom: 2px solid #afafaf;
    margin: 0;
    border-top: none;
    
  }

  a {
    width: 100%;
    display: block;

    .sub5_next_button {
      max-width: 265px;
      width: 100%;
      height: 24px;
      display: flex;
      margin-top: 28px;
      margin-left: 44px;
      justify-content: space-between;
      align-items: center;


      .sub_event_icon {
        width: 28px;
        height: 25px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .sub5_next_button2 {
    max-width: 293.31px;
    width: 100%;
    height: 24px;
    display: flex;
    margin-top: 28px;
    margin-left: 44px;
    justify-content: space-between;
    align-items: center;

    .sub_event_icon {
      width: 28px;
      height: 25px;

      img { 
        width: 100%;
        height: 100%;
      }
    }
  }
}
@import "./res-sub5_event";
@import "./res-sub5_event_inner"